.menuList {
    padding-bottom: 3px;
}

:host/deep/md-list-item.md-3-line .md-list-item, {
    height: auto;
}

.no-auth
    opacity:.50

.animated {
    position: relative;
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes fadein {
    0%   { opacity: 0; }
    50%  { opacity: 0.5; }
    100% { opacity: 1; }
}