<div *ngIf="!editMode">
    <div style="padding-bottom:1rem;">
        <md-list *ngFor="let item of fileAttachs; let i = index;">
            <md-list-item (mouseover)="hoverEdit=item.id" (mouseleave)="hoverEdit=-1">
                <md-icon md-list-avatar>
                    <img src="assets/filetype/{{item.type.substring(1)}}.svg" onError="this.src='assets/filetype/unknown.svg'" flex>
                </md-icon>
                <!-- <h3 md-line style="font-weight:bold">{{item?.fileAttachName}}{{item?.type}} [ชั้นความลับ : {{secretClass[item.secrets-1].label}}]</h3> -->
                <h3 md-line style="font-weight:bold">
                    <span>{{item?.trimmedName}} ({{item?.type}}) </span> [<span [ngStyle]="cellColor_secret(item.secrets)">{{secretClass[item.secrets-1].label}}</span>]
                </h3>
                <h4 md-line>{{item?.createdDate.substr(0,16)}} ({{item.fileAttachSize/1000000}} MB)</h4>
                <p md-line>{{item?.createdName}}</p>
                <div *ngIf="hoverEdit==item.id && (auth[item.secrets] || viewOnly)" class="block-icon-Option">
                    <button *ngIf="item.fileAttachType=='.PDF'" md-icon-button title="รับรองเอกสาร" (click)="approve(item, true)"><md-icon>check_circle</md-icon></button>
                    <button *ngIf="item.canView" md-icon-button title="ดูเอกสาร" (click)="viewImage(item)"><md-icon>visibility</md-icon></button>
                    <button md-icon-button title="ดูและแก้ไข" (click)="view(item)"><md-icon>edit</md-icon></button>
                    <button md-icon-button title="ทำสำเนา" (click)="download(item)"><md-icon>file_download</md-icon></button>
                    <button *ngIf="!viewOnly" md-icon-button title="ลบ" (click)="delete(item)" [ngClass]="{'no-auth': !item.owner}" [disabled]="!item.owner"><md-icon>delete</md-icon></button>
                </div>
                <div *ngIf="hoverEdit==item.id && !auth[item.secrets] && !viewOnly" class="block-icon-Option no-auth">
                    <button *ngIf="item.fileAttachType=='.PDF'" md-icon-button title="รับรองเอกสาร" (click)="approve(item, false)"><md-icon>check_circle</md-icon></button>
                    <button md-icon-button title="ดูและแก้ไข" disabled><md-icon>pageview</md-icon></button>
                    <button md-icon-button title="ทำสำเนา" disabled><md-icon>file_download</md-icon></button>
                    <button md-icon-button title="ลบ" disabled><md-icon>delete</md-icon></button>
                </div>
            </md-list-item>
            <md-list-item *ngFor="let child of item.children" style="margin-left:10%; font-style:italic;" (mouseover)="hoverEdit=child.id" (mouseleave)="hoverEdit=-1">
                <h3 md-line style="font-weight:bold;" class="no-auth">{{child?.fileAttachName}}</h3>
                <h4 md-line class="no-auth">{{child?.createdDate.substr(0,16)}} ({{item.fileAttachSize/1000000}} MB)</h4>
                <p md-line class="no-auth">{{child?.createdName}}</p>
                <div *ngIf="hoverEdit==child.id && (auth[item.secrets] || viewOnly)" class="block-icon-Option">
                    <button *ngIf="item.fileAttachType=='.PDF'" md-icon-button title="รับรองเอกสาร" (click)="approve(child, false)"><md-icon>check_circle</md-icon></button>
                    <button *ngIf="item.canView" md-icon-button title="ดูเอกสาร" (click)="viewImage(item)"><md-icon>visibility</md-icon></button>
                    <button md-icon-button title="ดูและแก้ไข" (click)="view(child)"><md-icon>edit</md-icon></button>
                    <button md-icon-button title="ทำสำเนา" (click)="download(child)"><md-icon>file_download</md-icon></button>
                </div>
                <div *ngIf="hoverEdit==child.id && !auth[item.secrets] && !viewOnly" class="block-icon-Option no-auth">
                    <button *ngIf="item.fileAttachType=='.PDF'" md-icon-button title="รับรองเอกสาร" (click)="approve(child, false)"><md-icon>check_circle</md-icon></button>
                    <button md-icon-button title="ดูและแก้ไข" disabled><md-icon>edit</md-icon></button>
                    <button md-icon-button title="ทำสำเนา" disabled><md-icon>file_download</md-icon></button>
                </div>
            </md-list-item>

            <md-divider md-inset></md-divider>
        </md-list>
        <md-divider></md-divider>
    </div>
    <div *ngIf="!viewOnly" class="drop-files-area" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)" (onFileDrop)="addByDrop($event)" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
        <md-list>
            <md-list-item *ngFor="let item of uploader.queue; let i = index;">
                <md-icon md-list-avatar>
                    <img src="assets/filetype/{{type[i].substring(1)}}.svg" onError="this.src='assets/filetype/unknown.svg'" flex>
                </md-icon>
                <h3 md-line>
                    <input type="text" style="width: 95%;" minlength="1" maxlength="250" [(ngModel)]="item.file.name">
                </h3>
                <md-select placeholder="ชั้นความลับ" [(ngModel)]="secret[i]" (ngModelChange)="selectSecret($event, i)">
                    <md-option *ngFor="let class of secretClass" [value]="class.value">{{class.label}}</md-option>
                </md-select>
                <button md-icon-button title="ลบรายการ" (click)="remove(i)"><i class="material-icons">cancel</i></button>
            </md-list-item>
        </md-list>
        <div layout="column" layout-align="center center">
            <button md-icon-button title="นำเข้าไฟล์เอกสาร ขนาดไม่เกิน {{fileSizeLimit}} MB" (click)="file.click()"><i class="material-icons">cloud_upload</i></button>
            <span>วางเอกสารแนบ ขนาดไม่เกิน {{fileSizeLimit}} MB</span>
            <span>(drag & drop files)</span>
            <input type="file" ng2FileSelect #file [uploader]="uploader" (change)="add()" style="display:none;" [accept]="allowedMimeType.toString()">
        </div>
    </div>
    <div *ngIf="fileAttachRemoved.length > 0" style="padding-top:1rem;">
        <b>ลบเอกสารแนบจำนวน {{fileAttachRemoved.length}} รายการ</b>
    </div>
</div>

<div *ngIf="editMode">
    <md-list *ngFor="let item of fileAttachs; let i = index;">
        <md-list-item>
            <md-icon md-list-avatar>
                <img src="assets/filetype/{{item.type.substring(1)}}.svg" onError="this.src='assets/filetype/unknown.svg'" flex>
            </md-icon>
            <h3 md-line *ngIf="auth[item.secrets] && item.owner">
                <input type="text" style="width: 95%;" minlength="1" maxlength="250" [(ngModel)]="item.fileAttachName" (ngModelChange)="edit(item ,i)">
            </h3>
            <!-- <h3 md-line *ngIf="!auth[item.secrets] || !item.owner" style="font-weight:bold">{{item?.fileAttachName}}{{item?.type}} [ชั้นความลับ : {{secretClass[item.secrets-1].label}}]</h3> -->
            <h3 md-line *ngIf="!auth[item.secrets] || !item.owner" style="font-weight:bold">
                <span>{{item?.fileAttachName}}{{item?.type}} </span> [<span [ngStyle]="cellColor_secret(item.secrets)">{{secretClass[item.secrets-1].label}}</span>]
            </h3>
            <md-select placeholder="ชั้นความลับ" [(ngModel)]="item.secrets" (ngModelChange)="edit(item ,i)" [disabled]="!auth[item.secrets] || !item.owner">
                <md-option *ngFor="let class of secretClass" [value]="class.value">{{class.label}}</md-option>
            </md-select>
            <button *ngIf="!item.uploaded" md-icon-button title="นำเข้าไฟล์เอกสารแก้ไข ขนาดไม่เกิน {{fileSizeLimit}} MB" (click)="file2.click();" [disabled]="!auth[item.secrets] || !item.owner"><i class="material-icons">file_upload</i></button>
            <button *ngIf="item.uploaded" md-icon-button title="มีการแก้ไขเอกสาร" disabled><md-icon>playlist_add_check</md-icon></button>
            <input type="file" ng2FileSelect #file2 [uploader]="uploaderUpdate" (change)="update(item ,i)" style="display:none" [accept]="allowedMimeType.toString()">
        </md-list-item>
        <md-divider md-inset></md-divider>
    </md-list>
    <md-divider></md-divider>
</div>