<div>

    <div class="setting-List">
        <md-icon md-list-avatar>supervisor_account</md-icon>
        <div class="fontSetting-List">โครงสร้างหน่วยงาน</div>
    </div>

    <div class="setting-List" style="margin-left: 20px;">
        <md-icon md-list-avatar>person_add</md-icon>
        <div class="fontSetting-List">Admin Department</div>
    </div>
    <div class="setting-List" style="margin-left: 20px;">
        <md-icon md-list-avatar>person_add</md-icon>
        <div class="fontSetting-List">หน่วยงาน</div>
    </div>
    <div class="setting-List" style="margin-left: 20px;">
        <md-icon md-list-avatar>person</md-icon>
        <div class="fontSetting-List">นายคมกริช วงษ์พิมเสน</div>
    </div>
    <div class="setting-List" style="margin-left: 20px;">
        <md-icon md-list-avatar>person</md-icon>
        <div class="fontSetting-List">นายปกรณ์ สาลี</div>
    </div>
    <div class="setting-List" style="margin-left: 20px;">
        <md-icon md-list-avatar>person</md-icon>
        <div class="fontSetting-List">นายณรงค์ เต็มศิรินุกูล</div>
    </div>
    <div class="setting-List" style="margin-left: 20px;">
        <md-icon md-list-avatar>person</md-icon>
        <div class="fontSetting-List">นางสาวมาลินี จรูญรัตนสกุล</div>
    </div>

</div>