.blockFormECMS
    height : 450px
    overflow: auto
.menuEcms
    border-right: 1px solid grey
.fileAttach
    border-radius: 20px 20px
    font-size: smaller
    color: grey
    border: 1px solid #607d8b7d
    margin-right: 2px 
.fileAttachPlus
    border-radius: 20px 20px
    font-size: smaller
    color: grey
    border: 1px solid #607d8b7d
    margin-right: 2px 
.numFileCss
    padding: 1px
    border-radius: 50%
    width: 20px
    height: 20px
    text-align: center
    border: 1px solid #607d8b7d
    font-size: 9px
// .fileAttach:hover
//     border: 1px solid #143e52
//     color: #a201bd
.eslip
    white-space: nowrap
    width: 60px
    overflow: hidden
    text-overflow: ellipsis
.wordwarpCss
    word-break: break-all
.toEslip{
     display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden
    text-overflow: ellipsis
}
.refferanceCss
    border-radius: 20px 20px
    font-size: smaller
    border: 1px solid #607d8b7d
    margin-right: 2px 
.eslipCard
    white-space: nowrap
    width: 150px
    overflow: hidden
    text-overflow: ellipsis