<div layout="column" flex>
    <div class="bgc-blue-700" [style.color]="'#fff'" layout="row">
        <button md-icon-button (click)="goBack()">
            <md-icon>arrow_back</md-icon>
        </button>
        <button md-icon-button disabled>
          <md-icon>build</md-icon>
        </button>
        <div flex class="menu-showLabel">
            <span>แก้ไขสิทธิ์ {{dmsHeaderName}}</span>
        </div>
        <button hide-gt-md md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu" x-position="before">
            <button md-menu-item (click)="save()"> save </button>
            <button md-menu-item (click)="cancel()"> cancel </button>
        </md-menu>
    </div>
</div>
<div layout="row">
    <div flex>
        <px-structure2 [selectDepartment]="true" (onselectData)="getUser($event)"></px-structure2>
    </div>
    <div flex>
        <md-list>
            <md-list-item *ngFor="let auth of dataAuths">
                <md-slide-toggle color="primary" [(ngModel)]="auth.auth" (change)="authEvent(auth)">
                    <div style="padding-left:35px">
                        {{auth.name}}
                    </div>
                </md-slide-toggle>
            </md-list-item>
        </md-list>
        <div hide show-gt-md [tdToggle]="!ModeSearch" layout="column" id="fixedbutton" (click)="overMenu();" (mouseleave)="leaveMenu();">
            <div layout="column" class="showbutton" [tdToggle]="hoverMenuEdit">
                <button md-fab title="บันทึก" style="margin-bottom: 3px;" md-fab color="accent" (click)="save()">
                <md-icon>save</md-icon>
            </button>
                <button md-fab color="accent" [style.background]="'#1976d2'" title="ยกเลิก" style="margin-bottom: 3px;" (click)="cancel(); ">
                <md-icon>cancel</md-icon>
            </button>
            </div>
            <button md-fab color="accent" title="รายการเมนู">
        <md-icon>{{listMenu}}</md-icon>
    </button>
        </div>
    </div>
</div>