.p-title{
    width: 100%;    
    text-align: right;
    margin-right: 5px;
}
.p-title-input{
    margin-top: 10px;
}
.p-select,.p-radio,.p-date{
    margin-top:10px;
}
.p-md-select{  
    width:80%;
}
.p-option,p-md-select{
    height: 30px;
}
.mandatory {
    color : red
    padding : 0px 3px 0px 0px;
}
md-card-title{
    padding-top:0px;
    margin-bottom:0px;
}
md-card-content{
    padding:0px;
}