<div layout-gt-sm="row" layout="column">
    <div flex="100">
        <md-card>
            <md-card-title>
                <span class="md-headline">รายละเอียดหน่วยงาน</span>
            </md-card-title>
            <md-card-content>
                <form #addLevelForm="ngForm">
                    <div flex-gt-md="100">
                        <div layout="row">
                            <div flex="50" class="p-title p-title-input">
                                <label>สถานะ :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{department.statusLabel}}</label>
                            </div>
                        </div>
                        <div layout="row" *ngIf="department.status !== 1">
                            <div flex="50" class="p-title p-title-input">
                                <label>รหัสหน่วยงาน :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{department.code}}</label>
                            </div>
                        </div>
                        <div layout="row" *ngIf="department.status !== 1">
                            <div flex="50" class="p-title p-title-input">
                                <label>ชื่อเต็มหน่วยงาน :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{department.name}}</label>
                            </div>
                        </div>
                        <div layout="row" *ngIf="department.status !== 1">
                            <div flex="50" class="p-title p-title-input">
                                <label>ชื่อหน่วยงาน :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{department.shortName}}</label>
                            </div>
                        </div>
                        <div layout="row" *ngIf="department.status !== 1">
                            <div flex="50" class="p-title p-title-input">
                                <label>สังกัดหน่วยงาน :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{department.agency}}</label>
                            </div>
                        </div>
                        <div layout="row" *ngIf="department.status === 1">
                            <div flex="50" class="p-title p-title-input">
                                <label>ชื่อเต็มหน่วยงาน (เดิม) :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{department.oldName}}</label>
                            </div>
                        </div>
                        <div layout="row" *ngIf="department.status === 1">
                            <div flex="50" class="p-title p-title-input">
                                <label>ชื่อเต็มหน่วยงาน (ใหม่) :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{department.newName}}</label>
                            </div>
                        </div>
                        <div layout="row" *ngIf="department.status === 1">
                            <div flex="50" class="p-title p-title-input">
                                <label>ชื่อหน่วยงาน (เดิม) :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{department.oldShortName}}</label>
                            </div>
                        </div>
                        <div layout="row" *ngIf="department.status === 1">
                            <div flex="50" class="p-title p-title-input">
                                <label>ชื่อหน่วยงาน (ใหม่) :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{department.newShortName}}</label>
                            </div>
                        </div>
                    </div>
                </form>
            </md-card-content>
            <md-divider></md-divider>
            <div layout="row" layout-align="center start" style="width: 100%;" [style.margin-top]="'15px'">
                <!--<button *ngIf="mode==='Add'" md-button [ngClass]="{'md-primary': addLevelForm.form.valid}" [disabled]="!addLevelForm.form.valid" (click)="saveLevel()">บันทึก</button>
                            <button *ngIf="mode==='Edit'" md-button [ngClass]="{'md-primary': addLevelForm.form.valid}" [disabled]="!addLevelForm.form.valid" (click)="updateLevel()">บันทึก</button>
                            <button *ngIf="mode==='Edit'" md-button [ngClass]="'md-warn'" (click)="deleteLevel()">ลบ</button>-->
                <!--<button md-button (click)="goBack()">ย้อนกลับ</button>-->
                <!--<button md-raised-button md-ripple [disabled]="isDisabled">ปิด</button>-->
                <button md-raised-button md-ripple (click)="dialogRef.close('yes')">ปิด</button>
            </div>
        </md-card>
    </div>
</div>