<div layout="column" flex>
    <div style="background:#e0785f; color:#fff;" layout="row">
        <button md-icon-button (click)="goBack()">
      <md-icon>arrow_back</md-icon>
    </button>
        <button md-icon-button disabled>
      <md-icon>supervisor_account</md-icon>
    </button>
        <div flex class="menu-showLabel">
            <span>นำเข้า HRIS (รายชื่อบุคลากร)</span>
        </div>
        <button md-icon-button>
      <md-icon>more_vert</md-icon>
    </button>
    </div>
</div>
<div layout="column" flex (click)="sideNavAlert($event)">
    <md-sidenav-layout layout="column" flex fullscreen>
        <md-sidenav #sideSubMenu align="end">
        </md-sidenav>
        <div class="body-showCenter">
            <div layout-gt-md="row" layout-align-gt-md="center start" class="margin main-admin">
                <div flex-gt-md="70">
                    <md-list>
                        <md-card>
                            <md-card-title class="push-bottom-none" style="background: #efb3a5;">
                                <span class="md-headline">นำเข้า HRIS (รายชื่อบุคลากร)</span>
                            </md-card-title>
                            <md-card-content>
                                <app-upload-file-attach [uploader]="uploader" [isCheck]="false" [fileAttach]="fileAttach" [fileAttachRemoved]="fileAttachRemoved" [fileType]="fileType" (msgs)="alertMsg($event)" (saveUploadfile)="saveFile($event)"></app-upload-file-attach>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="center start" style="width: 100%;" [style.margin-top]="'15px '">
                                <button md-raised-button color="primary" [style.margin-right]="'5px '" (click)="save()">บันทึก</button>
                                <button md-raised-button color="warn" [style.margin-right]="'5px '" (click)="goBack()">ยกเลิก</button>
                            </md-card-actions>
                        </md-card>
                    </md-list>
                </div>
            </div>
        </div>
    </md-sidenav-layout>
</div>

<p-growl [(value)]="msgs" [life]="3000"></p-growl>