<div layout="column" flex>
    <div style="background:#e0785f; color:#fff;" layout="row" flex>
        <button md-icon-button (click)="goBack()">
            <md-icon>arrow_back</md-icon>
        </button>
        <button md-icon-button disabled>
          <md-icon>{{iconHeader}}</md-icon>
        </button>
        <div flex class="menu-showLabel">
            <span>การจัดการประเภทเอกสาร</span>
        </div>
        <button md-icon-button>
            <md-icon>more_vert</md-icon>
        </button>
    </div>
</div>
<div layout="column" flex>
    <md-sidenav-layout layout="column" flex fullscreen>
        <div class="body-showCenter">
            <div layout-gt-md="row" layout-align-gt-md="center start" class="margin main-admin">
                <div flex-gt-md="70">
                    <md-list>
                        <md-card style="margin-left: 0px; margin-right: 0px;">
                            <md-card-content>
                                <table td-data-table>
                                    <th td-data-table-column *ngFor="let column of columns" [numeric]="column.numeric">
                                        {{column.label}}
                                    </th>
                                    <tr td-data-table-row *ngFor="let row of data" (click)="select(row)">
                                        <td td-data-table-cell *ngFor="let column of columns">
                                            <label class="hover" *ngIf="column.name!=='edit'">{{row[column.name]}}</label>
                                            <div *ngIf="column.name==='edit'" class="block-icon-Option">
                                                <i class="material-icons icon-button" (click)="edit(row)">edit</i>
                                            </div>
                                        </td>
                                        <!--<td td-data-table-cell *ngFor="let column of columns" (click)="edit(row)">
                                            <label class="hover" *ngIf="column.name!=='edit'">{{row[column.name]}}</label>
                                            <div *ngIf="column.name==='edit'" class="block-icon-Option">
                                                <i class="material-icons icon-button" (click)="edit(row)">edit</i>
                                            </div>
                                        </td>-->
                                    </tr>
                                </table>
                            </md-card-content>
                        </md-card>
                    </md-list>
                </div>
            </div>
        </div>
    </md-sidenav-layout>
</div>
<!--<div layout="column" flex>-->
<button id="fixedbutton" md-fab color="accent" title="add" (click)="add()">
      <md-icon>add</md-icon>
    </button>
<!--</div>-->