<!--<ul>
    <li *ngFor="let dir of directories">
        <span (click)="toggle(dir)"><md-icon md-list-avatar style="background: #e60000; color: white;" class="hover">{{dir.type == 1 ? 'book' : 'person'}}</md-icon>{{ dir.name }}</span>
        <div *ngIf="dir.expanded">
            <structure-view-permission [directories]="dir.children" [userList]="userList"></structure-view-permission>
        </div>
    </li>
</ul>-->
<p-tree [value]="structureTree" [(selection)]="selectedUser" [(selection)]="selectedStructure" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" (onNodeExpand)="loadNode($event)"></p-tree>
<p-growl [(value)]="msgs" [life]="3000"></p-growl>