<div layout="column" flex>
    <div style="background:#e0785f; color:#fff;" layout="row" flex>
        <button md-icon-button (click)="goBack()">
            <md-icon>arrow_back</md-icon>
        </button>
        <button md-icon-button disabled>
          <md-icon>dashboard</md-icon>
        </button>
        <div flex class="menu-showLabel">
            <span>{{title}}</span>
        </div>
    </div>
</div>
<div layout="column" flex>
    <md-sidenav-layout layout="column" flex fullscreen>
        <div class="body-showCenter">
            <div layout-gt-md="row" layout-align-gt-md="center start" class="margin main-admin">
                <div flex-gt-md="70">
                    <md-card style="margin-left: 0px; margin-right: 0px;">
                        <md-card-title style="background: #efb3a5;">
                            <span class="md-headline">{{title}}</span>
                        </md-card-title>
                        <md-card-content>
                            <form #documentForm="ngForm">
                                <div layout="row" layout-align="left start" style="margin-top: 20px; margin-bottom: 15px;">
                                    <md-select flex placeholder="เอกสารตั้งต้น" (ngModelChange)="change($event)" class="p-md-select" name="parentId" [(ngModel)]="documentType.parentId">
                                        <md-option [value]="0" class="p-option">
                                            ไม่มีเอกสารตั้งต้น
                                        </md-option>
                                        <md-option *ngFor="let docType of listDocumentType" [value]="docType.id" class="p-option">
                                            {{docType.name}}
                                        </md-option>
                                    </md-select>
                                </div>
                                <div layout="row" layout-align="left start" style="width: 100%;">
                                    <md-input-container flex>
                                        <input md-input type="text" OnlyNumber=true maxlength="{{(nodeLevel+1)*3}}" oninput="javascript: if (this.value.length> this.maxLength) this.value = this.value.slice(0, this.maxLength);" (keyup)="checkDocumentTypeCodeLength($event.target.value)" placeholder="{{docTypeCode}} ({{(nodeLevel+1)*3}}digit)"
                                            name="documentTypeCode" [(ngModel)]="documentType.code" required>
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-align="left start" style="width: 100%;">
                                    <md-input-container flex>
                                        <input md-input type="text" placeholder='{{docTypeName}}' name="documentTypeName" [(ngModel)]="documentType.name" required>
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-align="left start" style="width: 100%;">
                                    <md-input-container flex>
                                        <input md-input type="text" placeholder='{{docTypeDetail}}' name="documentTypeDescription" [(ngModel)]="documentType.detail">
                                    </md-input-container>
                                </div>
                            </form>
                            <div layout="row" layout-align="center start" style="width: 100%;" [style.margin-top]="'15px'">
                                <button *ngIf="mode==='Add'" md-raised-button [ngClass]="{'md-primary': documentForm.form.valid && codeLengthValid}" [disabled]="!(documentForm.form.valid && codeLengthValid)" [style.margin-right]="'5px'" color="primary" (click)="createDocumentType(documentType)">บันทึก</button>
                                <button *ngIf="mode==='Edit'" md-raised-button [ngClass]="{'md-primary': documentForm.form.valid && codeLengthValid}" [disabled]="!(documentForm.form.valid && codeLengthValid)" [style.margin-right]="'5px'" color="primary" (click)="updateDocumentType(documentType)">บันทึก</button>
                                <button md-raised-button md-ripple (click)="goBack()" [style.margin-right]="'5px'">ยกเลิก</button>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </md-sidenav-layout>
</div>