<div layout="column" flex>
    <div class="bgc-blue-700" [style.color]="'#fff'" layout="row">
        <button md-icon-button (click)="goBack()">
            <md-icon>arrow_back</md-icon>
        </button>
        <button md-icon-button disabled>
            <md-icon>folder</md-icon>
        </button>
        <div flex class="menu-showLabel">
            <span>{{dmsHeaderName}}</span>
        </div>
        <button md-icon-button (click)="change()">
            <md-icon>undo</md-icon>
        </button>

        <button hide-gt-md md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu" x-position="before">
            <div *ngFor="let menu of menus">
                <button *ngIf="menu.nameEng!=='search'" md-menu-item (click)="add(menu)">เพิ่ม{{menu.name}}</button>
                <button *ngIf="menu.nameEng==='search'" md-menu-item (click)="sideSubMenu.open(); ModeSearch = false">ค้นหา</button>
            </div>
        </md-menu>
    </div>
</div>
<div layout="column" flex (click)="sideNavAlert($event)">
    <md-sidenav-layout layout="column" flex fullscreen>
        <md-sidenav #sideSubMenu align="end">


            <form layout-padding style="width: 100%;" layout="column" class="input-Login" #searchDms="ngForm"
                layout-align="center start">
                <md-input layout-align="left start" style="width: 100%; margin-bottom: 10px;" placeholder="ค้นหาทั้งหมด"
                    name="allField" [(ngModel)]="allField ">
                </md-input>
                <div *ngFor="let df of documentTypeDetails" layout="row" layout-align="left start"
                    style="width: 100%; margin-bottom: 10px;">
                    <div *ngIf="df.dmsFieldType==='DATETIME'">


                        <my-date-picker [options]="myDatePickerOptions" flex
                            placeholder="{{df.documentTypeDetailName}} จาก" locale="th"
                            name="{{df.documentTypeDetailName}}จาก" [(ngModel)]="search[df.dmsFieldMap+'Form']">
                        </my-date-picker>

                        <my-date-picker [options]="myDatePickerOptions" flex
                            placeholder="{{df.documentTypeDetailName}} ถึง" locale="th"
                            name="{{df.documentTypeDetailName}}ถึง" [(ngModel)]="search[df.dmsFieldMap+'To']">
                        </my-date-picker>

                    </div>
                    <md-input
                        *ngIf="df.dmsFieldType !=='DATETIME' && df.dmsFieldMap !=='documentIntComma' && df.documentTypeDetailLookup === 0 "
                        flex placeholder="{{df.documentTypeDetailName}}" name="{{df.documentTypeDetailName }}"
                        [(ngModel)]="search[df.dmsFieldMap]">
                    </md-input>

                    <md-input *ngIf="df.dmsFieldMap ==='documentIntComma' " flex
                        placeholder="{{df.documentTypeDetailName}}" name="{{df.documentTypeDetailName }}"
                        [(ngModel)]="documentIntComma " (focus)=" removeCommas() " (blur)="addCommas() ">
                    </md-input>

                    <md-select *ngIf="df.dmsFieldType==='TEXT' && df.documentTypeDetailLookup > 0" flex
                        style="width: 100% ;margin-top: 20px;" placeholder='{{df.documentTypeDetailName}}'
                        [(ngModel)]="search[df.dmsFieldMap]" name="{{df.documentTypeDetailName }}">
                        <md-option *ngFor="let lookupDetail of df.lookupDetail" [value]="lookupDetail.name">
                            {{lookupDetail.name}}
                        </md-option>
                    </md-select>

                    <md-select
                        *ngIf="df.dmsFieldType==='VARCHAR' && df.documentTypeDetailLookup > 0 && df.dmsFieldMap != 'documentName' "
                        flex style="width: 100% ;margin-top: 20px;" placeholder='{{df.documentTypeDetailName}}'
                        [(ngModel)]="search[df.dmsFieldMap]" name="{{df.documentTypeDetailName }}">
                        <md-option *ngFor="let lookupDetail of df.lookupDetail" [value]="lookupDetail.name">
                            {{lookupDetail.name}}
                        </md-option>
                    </md-select>
                </div>

                <md-input layout-align="left start" style="width: 100%; margin-bottom: 10px;"
                    placeholder="ข้อความในเอกสารแนบ" name="fullText" [(ngModel)]="fullText ">
                </md-input>

                <md-input layout-align="left start" style="width: 100%; margin-bottom: 10px;"
                    placeholder="ชื่อเอกสารแนบ" name="attachName" [(ngModel)]="attachName ">
                </md-input>

                <md-select layout-align="left start" style="width: 100%" md-input type="text" placeholder="เอกสาร"
                    name="typeSearchInput" [(ngModel)]="typeSearchInput">
                    <md-option *ngFor="let data of typeSearchInputData" [value]="data.val"> {{data.name}}
                    </md-option>
                </md-select>



                <div style="padding-bottom:140px"></div>
            </form>
        </md-sidenav>

        <div class="body-showCenter">
            <div layout-gt-md="row" layout-align-gt-md="center start" class="margin main-admin">
                <div flex-gt-md="70">
                    <md-list>

                        <template let-item let-last="last" ngFor [ngForOf]="folders">
                            <md-list-item [ngClass]="{'bgSelectfolder' : item.icon == 'done'}"
                                (mouseover)="over(item.id);" (mouseleave)="leave();">
                                <md-icon md-list-avatar (click)="selectOther(item)" style="cursor: pointer"
                                    [ngClass]="{'fontIcon' : item.icon == 'done'}" [style.background]="item.iconColor">
                                    {{item.icon}}</md-icon>
                                <h3 md-line class="hover" (click)="selectFolder(item)"> {{item.folderName}} </h3>
                                <p md-line class="hover" (click)="selectFolder(item)"> {{item.folderDescription}} </p>
                            </md-list-item>
                            <md-divider md-inset></md-divider>
                        </template>

                    </md-list>
                </div>
            </div>
        </div>
    </md-sidenav-layout>
</div>

<div hide show-gt-md [tdToggle]="!ModeSearch && stetaPaste" layout="column" id="fixedbutton" (click)="overMenu();"
    (mouseleave)="leaveMenu();">
    <div class="showbutton" [tdToggle]="hoverMenuEdit" style="padding-bottom: 3px;">
        <button md-fab [style.background]="'#1976d2'" title="ค้นหา" color="accent"
            (click)="sideSubMenu.open(); ModeSearch = false">
            <md-icon>search</md-icon>
        </button>
    </div>
    <button md-fab color="accent" title="รายการเมนู">
        <md-icon>{{listMenu}}</md-icon>
    </button>
</div>

<div [tdToggle]="ModeSearch" layout="column" id="fixedbutton">
    <button md-fab [style.background]="'#1976d2'" color="accent" title="ค้นหา" (click)="dmsSearch()">
        <md-icon>search</md-icon>
    </button>
</div>


<div [tdToggle]="!stetaPaste && !stetaCanCopy" layout="column" id="fixedbutton">
    <button md-fab [style.background]="'#1976d2'" color="accent" title="วาง" (click)="paste()">
        <md-icon>content_copy</md-icon>
    </button>
</div>

<div [tdToggle]="!stateMove " layout="column" id="fixedbutton">
    <button md-fab [style.background]="'#1976d2'" color="accent" title="วาง" (click)="paste()">
        <md-icon>compare_arrows</md-icon>
    </button>
</div>