<div layout="row" flex style="   
background: #0454a5;
padding: 12px;
color: #FFF;
margin-bottom: 10px;
font-size: large;">
    <span flex="99">เลือกผู้ใช้งาน </span>
    <md-icon md-list-avatar style="cursor: pointer;" (click)="close()">close</md-icon>
</div>
<div class="bodyDialogHeigthMove">
    <px-structure [selectDepartment]="false" [noneUser]="false" (onselectData)="selectStructure($event)"></px-structure>
</div>
<div layout="row" layout-align="end start" style="width: 100%; padding: 5px; background: #d4daec;" [style.margin-top]="'15px'">
    <button md-raised-button (click)="selectMove() " color="primary" [style.margin-right]="'5px'">ตกลง</button>
</div>