.textLoginhead
    padding: 10px 10px 10px 10px
.head-Font-title
    padding-left: 5px
    color: #b1b7b9
    font-size: 24px
    font-weight: 400
.head-Font-subtitle
    color: #a6aaac
    font-size: 14px
    font-weight: 400
.main-Login-center
    text-align: -webkit-center
    padding: 0px 0px
    margin: 0px 0px
.setWidth
    width: 100%
.input-LoginChang
    padding: 15px 15px
    border-top: 3px solid #458ad2
    border-right: 3px solid #458ad2
    border-left: 3px solid #458ad2
    border-bottom: 3px solid #458ad2
    border-radius: 10px
    background: aliceblue
.boxSelect
   
.boxSelect:hover
    transition: 2s
    opacity: 1
.boxSelectClick
    opacity: 1
.body-Login
    padding-top: 160px
.newPassword
    text-align: center
    padding: 10px
    color: cornflowerblue
    cursor: pointer
    margin-top: 10px
.newPassword:hover
    text-decoration: underline
.headIcon
    background: linear-gradient(to top right, #7fd1f7 20%, #2d6cc3)
    border: 3px solid #458ad2
    border-radius: 10px 0px 0px 0px
.logoLock
    padding-left: 50px
    padding-top: 13px
.f-bane
    text-align: justify
    color: gray
    text-shadow: 1px 1px gainsboro
    padding: 10px
.f-baneTel
    color: #000000
    font-weight: bold
    text-align: center
    text-shadow: 1px 1px gainsboro
    padding: 10px