<div layout="column" layout-fill>
    <div flex>
        <div layout-gt-md="row" layout-align-gt-md="center start" class="margin body-Login">
            <!-- <div flex style="   
                background: #b74f36;
                padding: 12px;
                color: #FFF;
                font-size: large;">
                <span class="md-headline">{{title}}</span>
            </div> -->
            <!-- <div></div> -->
            <!-- <div layout-gt-md="row" layout-align="center start">
            <div flex layout="row" layout-padding layout-align="center start" class="main-Login"> -->
            <!-- <div> -->
            <div flex-gt-md="40" layout="row" layout-padding layout-align="center start" class="main-Login">
                <form #loginForm="ngForm" layout-padding layout-margin layout="column" class="input-LoginChang setWidth" layout-align="center start">
                    <span class="head-Font-title">{{title}}</span>
                    <div></div>
                    <div style="width: 100%" layout="column">
                        <md-input-container class="setWidth">
                            <span md-prefix>
                                <md-icon>person</md-icon>
                            </span>
                            <input md-input type="text" placeholder="ชื่อผู้ใช้" name="username" [(ngModel)]="user.name" focused required>
                        </md-input-container>
                        <md-input-container class="setWidth">
                            <span md-prefix>
                                <md-icon>lock</md-icon>
                            </span>
                            <input md-input #oldpassword type="password" placeholder="รหัสผ่านใหม่" class="" (blur)="addOption($event.target.value)" name="oldpassword" [(ngModel)]="user2.passwords" required minlength="8" maxlength="12">
                            <md-hint align="end">อย่างน้อย 8 ตัวอักษร {{oldpassword.value.length}} / 24</md-hint>
                        </md-input-container>
                        <md-input-container class="setWidth">
                            <span md-prefix>
                                <md-icon>lock</md-icon>
                            </span>
                            <input md-input #newpassword type="password" placeholder="ยืนยันรหัสผ่านใหม่" class="" (blur)="addOption2($event.target.value)" name="newpassword" [(ngModel)]="user.passwords" required minlength="8" maxlength="12">
                            <md-hint align="end">อย่างน้อย 8 ตัวอักษร {{newpassword.value.length}} / 24</md-hint>
                        </md-input-container>
                    </div>
                    <pre style="color:red">{{log}}</pre>
                    <div layout="row" flex style="text-align: center" layout-align="end">
                        <button md-raised-button (click)="save(user)" color="primary" style="margin-right: 5px;">ตกลง</button>
                        <button md-raised-button (click)="cancel()" color="warn">กลับสู่หน้า Log in</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<p-growl [(value)]="msgs" [life]="3000"></p-growl>