<div layout="column" flex>
    <div class="bgc-blue-700" [style.color]="'#fff'" layout="row" flex>
        <button md-icon-button (click)="goBack()">
            <md-icon>arrow_back</md-icon>
        </button>
        <button md-icon-button disabled>
          <md-icon>{{iconHeader}}</md-icon>
        </button>
        <div flex class="menu-showLabel">
            <span>{{modeTitle}}ผู้ใช้งาน  {{structureName}}</span>
        </div>
    </div>
</div>
<div layout="column" flex>
    <md-sidenav-layout layout="column" flex fullscreen>
        <div class="body-showCenter">
            <div layout-gt-md="row" layout-align-gt-md="center center">
                <div flex-gt-md="70">
                    <md-card>
                        <md-card-title class="push-bottom-none" style="background: #8fc2f5;">
                            <span class="md-headline">{{modeTitle}}ชื่อผู้ใช้ & รหัสผ่าน</span>
                        </md-card-title>
                        <md-card-content class="push-bottom-none">
                            <form #addUserform="ngForm" [tdToggle]="!toggleAddUser">
                                <div layout="row" layout-xs="column" layout-margin>
                                    <div flex="50" flex-xs="100">
                                        <md-input-container style="width:100%;">
                                            <input md-input #userName type="text" placeholder="ชื่อผู้ใช้ ใช้ได้เฉพาะ a-z,A-Z,0-9" name="userName" [(ngModel)]="user.name" tdAutoTrim required pattern="[a-zA-Z0-9\S ]*" minlength="6" maxlength="100">
                                            <md-hint align="end">อย่างน้อย 6 ตัวอักษร {{userName.value.length}} / 100</md-hint>
                                        </md-input-container>
                                    </div>
                                    <div flex="50" flex-xs="100" *ngIf="mode==='add'">
                                        <md-input-container style="width:100%;">
                                            <input md-input #pass type="password" placeholder="รหัสผ่าน" name="pass" [(ngModel)]="user.passwords" tdAutoTrim required pattern="^(?=.*\d)(?=.*[A-Za-z])(?!.*\s).{8,12}$" minlength="8" maxlength="24">
                                            <md-hint align="end">ตัวอักษร(อังกฤษ), ตัวเลข, และอักขระพิเศษ รวมอย่างน้อย 8 ตัวอักษร {{pass.value.length}} / 24</md-hint>
                                            <!-- <md-hint align="end">อย่างน้อย 8 ตัวอักษร {{pass.value.length}} / 100</md-hint> -->
                                        </md-input-container>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" layout-margin>
                                    <!-- <div flex flex-xs="100">
                                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="วันเริ่มต้นใช้งาน" locale="th" name="activeDate" [(ngModel)]="user.activeDate"></my-date-picker>
                                    </div>
                                    <div flex flex-xs="100">
                                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="วันสิ้นสุดใช้งาน" locale="th" name="expireDate" [(ngModel)]="user.expireDate"></my-date-picker>
                                    </div> -->
                                    <div flex="100" flex-xs="100">
                                        <span style="font-size: 11.5px; color: #a8a8a8;">วันที่หมดอายุของรหัสผ่าน : &nbsp;</span>
                                        <my-date-picker style="width:42%;" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="วันที่หมดอายุของรหัสผ่าน" locale="th" name="passwordExpireDate" [(ngModel)]="user.passwordExpireDate"></my-date-picker>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" layout-margin>
                                    <div flex="100" flex-xs="100">
                                        <span style="font-size: 11.5px; color: #a8a8a8;">วันที่หมดอายุการใช้งาน : &nbsp;</span>
                                        <my-date-picker style="width:42%;" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="วันที่หมดอายุการใช้งาน" locale="th" name="expireDate" [(ngModel)]="user.expireDate"></my-date-picker>
                                    </div>
                                </div>
                            </form>
                            <md-list [tdToggle]="toggleAddUser">
                                <md-list-item>
                                    <md-icon md-list-avatar>lock</md-icon>
                                    <h3 md-line class="hover">ชื่อผู้ใช้: {{userResult?.name}}</h3>
                                    <h4 md-line> รหัสผ่าน: ******** </h4>
                                    <!-- <p md-line>วันเริ่มต้นใช้งาน: {{userResult.activeDate}}</p>
                                    <p md-line>วันสิ้นสุดใช้งาน: {{userResult.expireDate}}</p>
                                    <p md-line>วันที่หมดอายุของรหัสผ่าน: {{userResult.passwordExpireDate}}</p> -->
                                    <button md-icon-button (click)="editMode(userResult)">
                                        <md-icon alt="แก้ไข">edit</md-icon>
                                    </button>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                        <!--<md-divider></md-divider>
                        <md-card-content>
                            <app-file-attach [uploader]="uploader " [fileAttachs]="fileAttachs " [fileAttachRemoved]="fileAttachRemoved " [isAttach]="!addUserform.form.valid"></app-file-attach>
                        </md-card-content>-->
                        <md-card-actions [tdToggle]="!toggleAddUser" layout="row" layout-align="center center" class="pad-bottom">
                            <button *ngIf="mode==='edit'" md-raised-button color="warn" (click)="deleteUser(user)" class="push-right">ลบ</button>
                            <button *ngIf="mode==='edit'" md-raised-button [ngClass]="{'md-primary': addUserform.form.valid}" [disabled]="!addUserform.form.valid" (click)="updateUser(user)" class="push-right">บันทึก</button>
                            <button *ngIf="mode==='add'" md-raised-button [ngClass]="{'md-primary': addUserform.form.valid}" [disabled]="!addUserform.form.valid" (click)="createUser(user)" class="push-right">บันทึก</button>
                            <button md-raised-button md-ripple [disabled]="isDisabled" (click)="goBack()">ยกเลิก</button>
                        </md-card-actions>
                    </md-card>

                    <app-add-user-profile [toggleCommand]="toggleCommand" (alertMessageUser)="alertMessageUser()" (alertMessage)="alertMessage()" [userId]="userId" [structureId]="structureId"></app-add-user-profile>
                </div>
            </div>
        </div>
    </md-sidenav-layout>
</div>
<p-growl [(value)]="msgs" [life]="3000"></p-growl>