<div layout="column" flex>
    <div class="bgc-blue-700" [style.color]="'#fff'" layout="row" flex>
        <button md-icon-button (click)="goBack()">
            <md-icon>arrow_back</md-icon>
        </button>
        <button md-icon-button disabled>
          <md-icon>{{icon}}</md-icon>
        </button>
        <div flex class="menu-showLabel">
            <span>{{textIcon}}</span>
        </div>
    </div>
</div>

<div layout="column" flex>

    <md-sidenav-layout layout="column" flex fullscreen>
        <div class="body-showCenter">
            <div layout-gt-md="row" layout-align-gt-md="center start" class="margin main-admin">
                <div flex-gt-md="70">
                    <md-card style="margin-left: 0px; margin-right: 0px;">
                        <md-card-title>{{textIcon}}</md-card-title>
                        <md-card-content>
                            <form #addDocumentForm="ngForm">
                                <div layout="row" *ngFor="let dtd of documentTypeDetails" layout-align="left start" style="width: 100%;">
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentName'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [(ngModel)]="dmsDocument.documentName">

                                    </md-input-container>
                                    <my-date-picker *ngIf="dtd.dmsFieldMap==='createdDate'" [options]="myDatePickerOptionsCreate" (dateChanged)="onDateChanged($event)" placeholder="{{dtd.documentTypeDetailName}}" locale="th" name="{{dtd.dmsFieldMap}}" [(ngModel)]="dmsDocument.createdDate"></my-date-picker>



                                    <my-date-picker *ngIf="dtd.dmsFieldMap==='documentExpireDate'" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="{{dtd.documentTypeDetailName}}" locale="th" name="{{dtd.dmsFieldMap}}" [(ngModel)]="dmsDocument.documentExpireDate"></my-date-picker>
                                    <my-date-picker *ngIf="dtd.dmsFieldMap==='documentDatetime01'" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="{{dtd.documentTypeDetailName}}" locale="th" name="{{dtd.dmsFieldMap}}" [(ngModel)]="dmsDocument.documentDatetime01"></my-date-picker>
                                    <my-date-picker *ngIf="dtd.dmsFieldMap==='documentDatetime02'" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="{{dtd.documentTypeDetailName}}" locale="th" name="{{dtd.dmsFieldMap}}" [(ngModel)]="dmsDocument.documentDatetime02"></my-date-picker>
                                    <my-date-picker *ngIf="dtd.dmsFieldMap==='documentDatetime03'" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="{{dtd.documentTypeDetailName}}" locale="th" name="{{dtd.dmsFieldMap}}" [(ngModel)]="dmsDocument.documentDatetime03"></my-date-picker>
                                    <my-date-picker *ngIf="dtd.dmsFieldMap==='documentDatetime04'" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="{{dtd.documentTypeDetailName}}" locale="th" name="{{dtd.dmsFieldMap}}" [(ngModel)]="dmsDocument.documentDatetime04"></my-date-picker>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentFloat01'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [disabled]="true" [(ngModel)]="dmsDocument.documentFloat01">
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentFloat02'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [disabled]="true" [(ngModel)]="dmsDocument.documentFloat02">
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentInt01'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [disabled]="true" [(ngModel)]="dmsDocument.documentInt01">
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentInt02'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [disabled]="true" [(ngModel)]="dmsDocument.documentInt02">
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentInt03'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [disabled]="true" [(ngModel)]="dmsDocument.documentInt03">
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentInt04'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [disabled]="true" [(ngModel)]="dmsDocument.documentInt04">
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentText01'" flex>
                                        <textarea md-input placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [(ngModel)]="dmsDocument.documentText01"></textarea>
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentText02'" flex>
                                        <textarea md-input placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [(ngModel)]="dmsDocument.documentText02"></textarea>
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentText03'" flex>
                                        <textarea md-input placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [(ngModel)]="dmsDocument.documentText03"></textarea>
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentText04'" flex>
                                        <textarea md-input placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [(ngModel)]="dmsDocument.documentText04"></textarea>
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentText05'" flex>
                                        <textarea md-input placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [(ngModel)]="dmsDocument.documentText05"></textarea>
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentVarchar01'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [(ngModel)]="dmsDocument.documentVarchar01">
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentVarchar02'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [(ngModel)]="dmsDocument.documentVarchar02">
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentVarchar03'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [(ngModel)]="dmsDocument.documentVarchar03">
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentVarchar04'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [(ngModel)]="dmsDocument.documentVarchar04">
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentVarchar05'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [(ngModel)]="dmsDocument.documentVarchar05">
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentVarchar06'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [(ngModel)]="dmsDocument.documentVarchar06">
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentVarchar07'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [(ngModel)]="dmsDocument.documentVarchar07">
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentVarchar08'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [(ngModel)]="dmsDocument.documentVarchar08">
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentVarchar09'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [(ngModel)]="dmsDocument.documentVarchar09">
                                    </md-input-container>
                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentVarchar10'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [(ngModel)]="dmsDocument.documentVarchar10">
                                    </md-input-container>
                                    <!--<md-input-container *ngIf="dtd.dmsFieldMap==='documentIntComma'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [ngModel]="dmsDocument.dmsDocumentIntComma | number: '1.2-2' " (ngModelChange)="updateAmount($event)">
                                    </md-input-container>-->

                                    <md-input-container *ngIf="dtd.dmsFieldMap==='documentIntComma'" flex>
                                        <input md-input type="text" placeholder="{{dtd.documentTypeDetailName}}" name="{{dtd.dmsFieldMap}}" maxlength="255" [required]="true" [(ngModel)]="numberComma " (focus)=" removeCommas() " (blur)="addCommas() ">
                                    </md-input-container>

                                </div>

                            </form>


                        </md-card-content>



                        <!--<md-divider></md-divider>
                        <md-list>
                            <template let-item let-last="last" ngFor [ngForOf]="dataDocFile" style="padding-left: 19px;">

                            <md-list-item >
                                <md-icon md-list-avatar >attach_file</md-icon>
                                  <h3 md-line class="hover" > {{item.title}} </h3>
                            </md-list-item>

                            <md-list-item  *ngFor='let value of item.children'  style="padding-left: 40px; color: gray !important;">
                                 <md-icon md-list-avatar >remove</md-icon>
                                 <p md-line class="hover"  > {{value.title}} </p>
                            </md-list-item >
                         </template>

                        </md-list>-->

                        <md-divider></md-divider>


                        <!--attach file-->
                        <!--<md-divider></md-divider>-->
                        <md-card-content>
                            <app-file-attach [uploader]="uploader " [fileAttachs]="fileAttachs " [fileAttachRemoved]="fileAttachRemoved " [isAttach]="!addDocumentForm.form.valid "></app-file-attach>
                        </md-card-content>
                        <md-divider></md-divider>
                        <!--attach file-->

                        <!--<app-dynamic-web-twain>Loading...</app-dynamic-web-twain>-->

                        <md-card-actions layout="row" layout-align="center start" style="width: 100%;" [style.margin-top]="'15px'">
                            <!--<button (click)="uploadFile()">upload</button>-->
                            <button *ngIf="mode==='Add'" md-raised-button [ngClass]="{'md-primary': addDocumentForm.form.valid}" [disabled]="!addDocumentForm.form.valid" [style.margin-right]="'5px'" (click)="save(dmsDocument)">บันทึก</button>
                            <button *ngIf="mode==='Edit'" md-raised-button [ngClass]="{'md-primary': addDocumentForm.form.valid}" [disabled]="!addDocumentForm.form.valid" [style.margin-right]="'5px'" (click)="update(dmsDocument)">บันทึก</button>
                            <button *ngIf="mode==='Edit'" md-raised-button [ngClass]="'md-warn'" [style.margin-right]="'5px'" (click)="delete(dmsDocument)">ลบ</button>
                            <button md-raised-button md-ripple (click)="cancel()" [style.margin-right]="'5px'">ยกเลิก</button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>
    </md-sidenav-layout>



</div>

<div hide show-gt-md layout="column" id="fixedbutton" (click)="overMenu();" (mouseleave)="leaveMenu();">

    <div layout="column" class="showbutton" [tdToggle]="hoverMenuEdit">

        <button md-fab title="เพิ่มเอกสารแนบ" style="margin-bottom: 3px;" md-fab color="accent" (click)="addDocumentFile()">
                <md-icon>add</md-icon>
            </button>
        <button md-fab color="accent" [style.background]="'#1976d2'" title="ส่งอีเมล" style="margin-bottom: 3px;" md-fab color="accent" (click)="email()">
                <md-icon>email</md-icon>
            </button>

    </div>
    <button md-fab color="accent" title="รายการเมนู">
        <md-icon>{{listMenu}}</md-icon>
    </button>

</div>