<!--<div>
    <app-dynamic-web-twain [hidden]='hidden'>Loading...</app-dynamic-web-twain>
</div>-->

<div *ngIf="hidden">
    <app-view-scan style="margin-top: 189px ; margin-left: 449px;">Loading...</app-view-scan>
</div>


<!--<div *ngIf="hidden" class="alert alert-success box-msg" role="alert">
    Your changes has been saved.
</div>

<button (click)="showScan();" style="margin-top: 300px">showTest</button>-->


<!--<button (click)="acquireImage()">Scan Document</button>
<div id="dwtcontrolContainer" style="float: left; width: 200px; height: 250px;"></div>-->
