<md-card class="dl-card">
    <md-card-title class="dl-card-title">
        เลือกรายงาน
    </md-card-title>
    <md-card-content class="dl-card-content">
        <md-list *ngFor="let item of reportList">
            <div class="folder-List">
                <md-list-item (click)="showReport(item, false)">
                    <md-icon md-list-avatar style="background: #FFDEAD; cursor: pointer" *ngIf="reportType === 'pdf'">assignment</md-icon>
                    <md-icon md-list-avatar style="background: #FFDEAD; cursor: pointer" *ngIf="reportType === 'xls'">grid_on</md-icon>
                    <div class="fontFolder-List">{{item.name}}</div>
                </md-list-item>
            </div>
        </md-list>
    </md-card-content>
</md-card>