<div layout-gt-sm="row" layout="column">
    <div flex="100">
        <md-card>
            <md-card-title>
                <span class="md-headline">{{title}}</span>
            </md-card-title>
            <md-card-content>
                <!--<form #addLevelForm="ngForm">-->
                <md-list style="width: 100%;">
                    <template let-item let-last="last" ngFor [ngForOf]="rangeDateArr" let-i="index">
                            <md-list-item > 
                                <my-date-picker flex="50" [options]="myDatePickerOptions" (dateChanged)="startDateChanged($event, i)" placeholder="จากวันที่" locale="th" name="startDatess" [(ngModel)]="item.startDate"></my-date-picker>
                                <my-date-picker flex="50" [options]="myDatePickerOptions" (dateChanged)="endDateChanged($event, i)" placeholder="ถึงวันที่" locale="th" name="endDatess" [(ngModel)]="item.endDate"></my-date-picker>
                                <!--<div class="block-icon-Option" >-->
                                    <i class="material-icons icon-button block-icon-Option"  (click)="delete(item)" >delete</i>
                                <!--</div>-->
                            </md-list-item>
                        </template>
                </md-list>
                <div layout="row" layout-align="end" style="width: 97%;">
                    <i class="material-icons icon-button block-icon-Option" (click)="addItem()">add_circle</i>
                </div>
            </md-card-content>
            <md-divider></md-divider>
            <div layout="row" layout-align="center start" style="width: 100%;" [style.margin-top]="'15px'">
                <button md-raised-button [ngClass]="{'md-primary': clickabled}" [style.margin-right]="'5px'" [disabled]="!clickabled" (click)="saveInOutAssign(inOutAssign)">บันทึก</button>
                <button md-raised-button md-ripple (click)="dialogRef.close('yes')">ยกเลิก</button>
            </div>
        </md-card>
    </div>
</div>