.blockLog
    height : 400px
    overflow : auto
.fontField-List
    padding-left: 5px
    display: initial
    padding-top: 3px
.blockForm
    height: 450px
    overflow: auto
.wordwarpCss
    word-break: break-all
.linkUrls:hover
    text-decoration: underline
.wordwarpActionCss
    width: 99%
    word-break: break-all
.wordwarpellipsis
    white-space: nowrap;
    /* width: 50px; */
    overflow: hidden;
    text-overflow: ellipsis