.icon-button{
    cursor: pointer;
    color: #707070;
    padding: 5px;
    border-radius: 4px 4px;
    background-color: #f5f5f5;
}
.icon-button:hover{
    border-radius: 4px 4px;
    background-color: #f5f5f5;
}
.block-icon-Option{
    display: inherit;
}
.displayShow{
    display: inherit;
}
.displayIconNone{
    display: none;
}
md-sidenav-layout
    position: absolute
    margin-top: 40px 
.bgSelectfolder
    background-color: #dfe8f3;
    opacity: 0.75;
    transition: 0.5s ease;
.fontIcon
    color: #fff;
.bgSelectfolder:hover 
    opacity: 1.0;
.md-list-item md-icon, md-list-item md-icon
    color: #fff

.md-card{
  width: 100%;
  height: auto;
}