<div flex layout="row" class="container">
    <div flex="40" class="login-container">
        <div layout="column" layout-align="space-evenly center">
            <div layout="column" layout-align="center center" class="logo-container">
                <img flex src="assets/logo/login-logo.png" class="logo">
                <span flex class="title"><b>ระบบสารบรรณอิเล็กทรอนิกส์</b></span>
            </div>
            <div class="input-container">
                <form #loginForm="ngForm" layout="column" layout-align="center center">
                    <div layout="column" layout-align="start center">
                        <md-input-container style="width: 100%">
                            <span md-prefix style="padding-right: 8px;">
                                <md-icon>person</md-icon>
                            </span>
                            <input md-input type="text" style="margin-right:24px"
                                placeholder="ชื่อผู้ใช้" name="username" [(ngModel)]="user.name" focused
                                required>
                        </md-input-container>
                        <md-input-container style="width: 100%; padding-top: 0.25rem;">
                            <span md-prefix style="padding-right: 8px;">
                                <md-icon>lock</md-icon>
                            </span>
                            <div layout="row" *ngIf="!showPassword">
                                <input md-input type="password" placeholder="รหัสผ่าน" name="passwords"
                                    [(ngModel)]="user.passwords" required>
                                <md-icon class="hover" title="แสดงรหัสผ่าน"
                                    (click)="showPassword=true;">remove_red_eye</md-icon>
                            </div>
                            <div layout="row" *ngIf="showPassword">
                                <input md-input type="text" placeholder="รหัสผ่าน" name="passwords2"
                                    [(ngModel)]="user.passwords" required>
                                <md-icon class="hover" title="ไม่แสดงรหัสผ่าน"
                                    (click)="showPassword=false;">visibility_off</md-icon>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-align="end">
                    </div>
                    <div style="padding-top: 1rem;">
                        <button md-raised-button color="primary" [ngClass]="{'md-primary': loginForm.form.valid}" 
                            [disabled]="!loginForm.form.valid" (click)="checkLogin(user)" class="button">เข้าสู่ระบบ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div flex="60">
        <img src="assets/logo/login-img.jpg" class="img">
    </div>
</div>