.textLoginhead
    padding: 10px 10px 10px 10px
.head-Font-title
    padding-left: 5px
    color: #b1b7b9
    font-size: 24px
    font-weight: 400
.head-Font-subtitle
    color: #a6aaac
    font-size: 14px
    font-weight: 400
.main-Login-center
    text-align: -webkit-center
    padding: 0px 0px
    margin: 0px 0px
.setWidth
    width: 100%
.input-Login
    padding: 15px 15px
    border-right: 3px solid #458ad2
    border-left: 3px solid #458ad2
    border-bottom: 3px solid #458ad2
    border-radius: 0px 0px 10px 0px
    background: aliceblue
.body-Login
    padding: 20px
.newPassword
    text-align: center
    padding: 10px
    color: cornflowerblue
    cursor: pointer
    margin-top: 10px
.newPassword:hover
    text-decoration: underline
.headIcon
    background: linear-gradient(to top right, #8fc2f5 20%, #2d6cc3)
    border: 3px solid #458ad2
    border-radius: 10px 0px 0px 0px
.logoLock
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
.f-bane
    text-align: justify
    color: gray
    text-shadow: 1px 1px gainsboro
    padding: 10px
    font-size: smaller


.hover
    cursor: pointer