.container
    width: 100vw;
    height 100vh;
.login-container
    background: linear-gradient(white 40%, #9cd0e3);
.img
    opacity: 0.5;
    width: 100%;
    object-fit: fill;
.logo-container
    align-items: center;
    padding-top: 2rem;
.input-container
    padding: 2rem 0 2rem 0;
    font-size: larger;
.logo
    width: 230px;
    height 250px;
.title
    padding-top: 1rem;
    font-size: 36px;
    font-weight: bold;
    color: #006738;
.button
    width: 100%;
    margin-top: 10px;
    font-size: x-large;
    