md-sidenav-layout{
    position: absolute;
    margin-top: 40px;
}
.folder-List{
    cursor: pointer;
    padding: 10px 10px;
    display: -webkit-box;
    color: rgba(0, 0, 0, 0.54);
}
.folder-List:nth-child(even){
    background: #F1F1F1;
}
.folder-List:hover{
    color: #F1F1F1;
    background: #1976d2;
}
.fontFolder-List{
    padding-left: 10px;
    padding-top: 3px;
}

:host/deep/md-list-item.md-3-line .md-list-item:hover {
    cursor: pointer;
    color: #F1F1F1;
    background: #1976d2;
}
.card
    margin: 0 
    box-shadow: none
.title 
    background: #8fc2f5
.content 
    padding-top: 0
