<div *ngIf="!booleanCheckDocInFolder">
    <div layout="column" flex>
        <div class="bgc-blue-700" [style.color]="'#fff'" layout="row">
            <button md-icon-button (click)="goBack()" *ngIf="parentId>1" [disabled]="disableBack">
            <md-icon>arrow_back</md-icon>
        </button>
            <button md-icon-button disabled>

          <md-icon>dashboard</md-icon>
        </button>


            <div *ngFor="let data of lvBar;let i = index;">

                <span (click)="lvBarBack(data)" style="cursor: pointer; line-height: 40px;">{{data.levelName }}</span>


                <span *ngIf="lvBar.length > 1 && lvBar.length > i+1">/</span>

            </div>



            <button hide-gt-md md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>more_vert</md-icon>
        </button>
            <md-menu #menu="mdMenu" x-position="before">
                <div *ngFor="let menu of menus">
                    <button *ngIf="menu.nameEng!=='search'" md-menu-item (click)="add(menu)"> เพิ่ม{{menu.name}} </button>
                    <button *ngIf="menu.nameEng==='search'" md-menu-item (click)="sideSubMenu.open(); ModeSearch = false"> ค้นหา </button>
                </div>
            </md-menu>
        </div>
    </div>
    <div layout="column" flex (click)="sideNavAlert($event)">
        <md-sidenav-layout layout="column" flex fullscreen>
            <md-sidenav #sideSubMenu align="end">


                <form layout-padding style="width: 100%;" layout="column" class="input-Login" #searchDms="ngForm" layout-align="center start">

                    <md-input  layout-align="left start" [(ngModel)] ="fullText" style="width: 100%; margin-bottom: 10px;"  placeholder="ค้นหาทั้งหมด" name="fulltext" >
                    </md-input>


                    <div *ngFor="let df of documentTypeDetails" layout="row" layout-align="left start" style="width: 100%; margin-bottom: 10px;">
                        <div *ngIf="df.dmsFieldType==='DATETIME'">
                            <my-date-picker type="number" [options]="myDatePickerOptions" flex placeholder="{{df.documentTypeDetailName}} จาก" locale="th" name="{{df.documentTypeDetailName}}จาก" [(ngModel)]="search[df.dmsFieldMap+'Form']">
                            </my-date-picker>
                            <my-date-picker type="number" [options]="myDatePickerOptions" flex placeholder="{{df.documentTypeDetailName}} ถึง" locale="th" name="{{df.documentTypeDetailName}}ถึง" [(ngModel)]="search[df.dmsFieldMap+'To']">
                            </my-date-picker>
                        </div>
                        <md-input *ngIf="df.dmsFieldType !=='DATETIME' && df.dmsFieldMap !=='documentIntComma' && df.documentTypeDetailLookup === 0 && df.dmsFieldName !='TEXT02' " flex placeholder="{{df.documentTypeDetailName}}" name="{{df.documentTypeDetailName }}" [(ngModel)]="search[df.dmsFieldMap]">
                        </md-input>
                        <md-input *ngIf="df.dmsFieldMap ==='documentIntComma' " flex placeholder="{{df.documentTypeDetailName}}" name="{{df.documentTypeDetailName }}" [(ngModel)]="documentIntComma " (focus)=" removeCommas() " (blur)="addCommas() ">
                        </md-input>
                        <md-select *ngIf="df.dmsFieldType==='TEXT' && df.documentTypeDetailLookup > 0" flex style="width: 100% ;margin-top: 20px;" placeholder='{{df.documentTypeDetailName}}' [(ngModel)]="search[df.dmsFieldMap]" name="{{df.documentTypeDetailName }}">
                            <md-option *ngFor="let lookupDetail of df.lookupDetail" [value]="lookupDetail.name"> {{lookupDetail.name}}
                            </md-option>
                        </md-select>                  
                        <md-select *ngIf="df.dmsFieldType==='VARCHAR' && df.documentTypeDetailLookup > 0 && df.dmsFieldMap != 'documentName' " flex style="width: 100% ;margin-top: 20px;" placeholder='{{df.documentTypeDetailName}}' [(ngModel)]="search[df.dmsFieldMap]" name="{{df.documentTypeDetailName }}">
                            <md-option *ngFor="let lookupDetail of df.lookupDetail" [value]="lookupDetail.name"> {{lookupDetail.name}}
                            </md-option>
                        </md-select>
                    </div>
                    <div style="padding-bottom:140px"></div>
                </form>
            </md-sidenav>

            <div class="body-showCenter">
                <div layout-gt-md="row" layout-align-gt-md="center start" class="margin main-admin">
                    <div flex-gt-md="70">
                        <md-list>

                            <template let-item let-last="last" ngFor [ngForOf]="folders">
                            <md-list-item    [ngClass]="{'bgSelectfolder' : item.icon == 'done'}" (mouseover)="over(item.id);" (mouseleave)="leave();"  >
                                    
                                <md-icon md-list-avatar (click)="selectOther(item)" style="cursor: pointer" [ngClass]="{'fontIcon' : item.icon == 'done'}"
                                 [style.background]="item.iconColor">{{item.icon}}</md-icon>
                                
                                <h3 md-line class="hover" (click)="selectFolder(item)"  > {{item.folderName}} </h3>
                                <p md-line class="hover" (click)="selectFolder(item)" > {{item.folderDescription}} </p>
                                
                                
                                <div [hidden]="hoverEdit == item.id"></div>
                                <div hide show-gt-md  class="block-icon-Option" [hidden]="hoverEdit == item.id">
                          
                                   <i [hidden]="hoverEdit !== item.id">
                                    
                                         <app-dms-menu [Folder]="item" (selecFunction)="buttonAuth($event)"></app-dms-menu>
                                    </i>

                                </div>
                                

                                <div hide-gt-md class="block-icon-Option" >
                                    <i class="material-icons icon-button"  (click)="edit(item)"  title="แก้ไข" >edit</i>
                                     <i class="material-icons icon-button"  (click)="auth(item)" title="สิทธิ์" >settings</i>
                                </div>
                                
                            </md-list-item>
                            <md-divider  md-inset></md-divider>
                        </template>

                            <td-paging-bar *ngIf='folders.length >0' style="margin-right: 20%;color: black" [pageSizes]="[25, 50, 100, 200,500]" [total]="projectAll" (change)="page($event)"></td-paging-bar>

                        </md-list>
                    </div>
                </div>
            </div>
        </md-sidenav-layout>
    </div>

    <div hide show-gt-md [tdToggle]="!ModeSearch && stetaPaste" layout="column" id="fixedbutton" (click)="overMenu();" (mouseleave)="leaveMenu();">

        <button class="showbutton" [tdToggle]="hoverMenuEdit" *ngIf=" seeButtonCopy " md-fab color="accent" [style.background]="'#1976d2'" title="ยกเลิก" (click)="cancelCopyMove()">
            <md-icon>cancel</md-icon>
        </button>
        <div *ngFor="let menu of menus">

            <div class="showbutton" [tdToggle]="hoverMenuEdit">
                <div *ngIf='createFolder'>
                    <button *ngIf="menu.nameEng!=='search' && menu.nameEng!=='move' && menu.nameEng!=='reorder' && menu.nameEng!=='copy' && !seeButtonCopy  && menu.nameEng !=='Document'" md-fab [style.background]="menu.color" color="accent" title="เพิ่ม{{menu.name}}" (click)="add(menu)">
                        <md-icon>{{menu.icon}}</md-icon>
                    </button>

                    <button *ngIf="menu.nameEng==='copy' && seeButtonCopy " md-fab [style.background]="menu.color" color="accent" title="คัดลอก" (click)="copy(); ">
                        <md-icon>{{menu.icon}}</md-icon>
                    </button>

                    <button *ngIf="menu.nameEng==='move' && seeButtonCopy " md-fab [style.background]="menu.color" color="accent" title="ย้าย" (click)="move(); ">
                        <md-icon>{{menu.icon}}</md-icon>
                    </button>

                    <button *ngIf="menu.nameEng==='reorder' && !seeButtonCopy" md-fab [style.background]="menu.color" title="จัดลำดับ" color="accent" (click)="reOrder(); ">
                        <md-icon>{{menu.icon}}</md-icon>
                    </button>



                    <button *ngIf="menu.nameEng==='search' && !seeButtonCopy " md-fab [style.background]="menu.color" title="ค้นหา" color="accent" (click)="sideSubMenu.open(); ModeSearch = false">
                        <md-icon>{{menu.icon}}</md-icon>
                    </button>
                </div>

                <div *ngIf='authAddDoc'>
                    <button *ngIf="menu.nameEng!=='search' && menu.nameEng!=='move' && menu.nameEng!=='reorder' && menu.nameEng!=='copy' && !seeButtonCopy && menu.nameEng ==='Document' " md-fab [style.background]="menu.color" color="accent" title="เพิ่ม{{menu.name}}" (click)="add(menu)">
                        <md-icon>{{menu.icon}}</md-icon>
                    </button>
                </div>


                <div *ngIf='!createFolder'>
                    <button *ngIf="menu.nameEng==='search' && !seeButtonCopy " md-fab [style.background]="menu.color" title="ค้นหา" color="accent" (click)="sideSubMenu.open(); ModeSearch = false">
                        <md-icon>{{menu.icon}}</md-icon>
                    </button>
                </div>
            </div>

        </div>
        <button md-fab color="accent" title="รายการเมนู">
        <md-icon>{{listMenu}}</md-icon>
    </button>
    </div>

    <div [tdToggle]="ModeSearch" layout="column" id="fixedbutton">
        <button md-fab [style.background]="'#1976d2'" color="accent" title="ค้นหา" (click)="dmsSearch()">
        <md-icon>search</md-icon>
    </button>

    </div>

    <div class="showbutton" id="fixedbutton" [tdToggle]="!stetaPaste && !stetaCanCopy " layout="column">

        <button md-fab color="accent" [style.background]="'#1976d2'" title="ยกเลิก" (click)="cancelCopyMove()">
        <md-icon>cancel</md-icon>
    </button>





        <button md-fab [style.background]="'#1976d2'" color="accent" title="วาง1" (click)="paste()">
        <md-icon>content_copy</md-icon>
    </button>


    </div>


    <div class="showbutton" id="fixedbutton" [tdToggle]="!stateMove" layout="column">

        <button md-fab color="accent" [style.background]="'#1976d2'" title="ยกเลิก" (click)="cancelCopyMove()">
        <md-icon>cancel</md-icon>
    </button>



        <button md-fab [style.background]="'#1976d2'" color="accent" title="วาง2" (click)="paste()">
        <md-icon>compare_arrows</md-icon>
    </button>

    </div>
</div>
<!--list doc ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssc-->
<div *ngIf="booleanCheckDocInFolder">
    <div layout="column" flex>
        <div class="bgc-blue-700" [style.color]="'#fff'" layout="row">
            <button md-icon-button (click)="goBack()" [disabled]="disableBack">
            <md-icon>arrow_back</md-icon>
        </button>
            <button md-icon-button disabled>
          <md-icon>folder</md-icon>
        </button>
            <div *ngFor="let data of lvBar;let i = index;">
                <span (click)="lvBarBack(data)" style="cursor: pointer; line-height: 40px;">{{data.levelName}}</span>

                <span *ngIf="lvBar.length > 1 && lvBar.length > i+1">/</span>
            </div>

            <button hide-gt-md md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>more_vert</md-icon>
        </button>
            <md-menu #menu="mdMenu" x-position="before">
                <div>
                    <button md-menu-item (click)="addDocument()"> เพิ่ม</button>
                    <button md-menu-item (click)="sideSubMenu.open(); ModeSearch = false"> ค้นหา </button>
                </div>
            </md-menu>
        </div>
    </div>
    <div layout="column" flex (click)="sideNavAlert($event)">
        <md-sidenav-layout layout="column" flex fullscreen>
            <md-sidenav #sideSubMenu align="end">
                <form layout-padding style="width: 100%;" layout="column" class="input-Login" #searchDms="ngForm" layout-align="center start">
                    <div *ngFor="let df of documentTypeDetails" layout="row" layout-align="left start" style="width: 100%; margin-bottom: 10px;">

                        <div *ngIf="df.dmsFieldType==='DATETIME'">
                            <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="{{df.documentTypeDetailName}} จาก" locale="th" name="{{df.documentTypeDetailName}}จาก" [(ngModel)]="search[df.dmsFieldMap+'Form']">
                            </my-date-picker>

                            <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="{{df.documentTypeDetailName}} ถึง" locale="th" name="{{df.documentTypeDetailName}}ถึง" [(ngModel)]="search[df.dmsFieldMap+'To']">
                            </my-date-picker>

                        </div>

                        <md-input *ngIf="df.dmsFieldType !=='DATETIME' && df.dmsFieldMap !=='documentIntComma' && df.documentTypeDetailLookup === 0 && df.dmsFieldName !='TEXT02' " flex placeholder="{{df.documentTypeDetailName}}" name="{{df.documentTypeDetailName }}" [(ngModel)]="search[df.dmsFieldMap]">
                        </md-input>

                        <md-input *ngIf="df.dmsFieldMap ==='documentIntComma' " flex placeholder="{{df.documentTypeDetailName}}" name="{{df.documentTypeDetailName }}" [(ngModel)]="documentIntComma " (focus)=" removeCommas() " (blur)="addCommas() ">
                        </md-input>

                        <md-select *ngIf="df.dmsFieldType==='TEXT' && df.documentTypeDetailLookup > 0 " flex style="width: 100% ;margin-top: 20px;" placeholder='{{df.documentTypeDetailName}}' [(ngModel)]="search[df.dmsFieldMap]" name="{{df.documentTypeDetailName }}">
                            <md-option *ngFor="let lookupDetail of df.lookupDetail" [value]="lookupDetail.name"> {{lookupDetail.name}}
                            </md-option>
                        </md-select>

                        <md-select *ngIf="df.dmsFieldType==='VARCHAR' && df.documentTypeDetailLookup > 0 && df.dmsFieldMap != 'documentName' " flex style="width: 100% ;margin-top: 20px;" placeholder='{{df.documentTypeDetailName}}' [(ngModel)]="search[df.dmsFieldMap]" name="{{df.documentTypeDetailName }}">
                            <md-option *ngFor="let lookupDetail of df.lookupDetail" [value]="lookupDetail.name"> {{lookupDetail.name}}
                            </md-option>
                        </md-select>

                    </div>

                    <div style="padding-bottom:140px"></div>
                </form>
            </md-sidenav>

            <div class="body-showCenter">
                <div layout-gt-md="row" layout-align-gt-md="center start" class="margin main-admin">
                    <div flex-gt-md="70">
                        <md-list>
                            <md-card hide show-gt-md style="margin-left: 0px; margin-right: 0px;" [style.width.px]="widthSize">
                                <md-card-content>

                              
                                    <!-- ssssssssssssssssssssssssssssssssssssssssssss -->
                                    <p-dataTable #dt [value]="datas" [(first)]="tableFirst" [rows]="20" [paginator]="true" [rowsPerPageOptions]="[10,20,50,100]" [(selection)]="selectedRow" (onRowSelect)="show(selectedRow)" [resizableColumns]="false" [responsive]="true" styleClass="fixed-size">


                                        <p-footer>
                                            <loadMore [listReturn]="listReturn" (load)=loadMoreContents()></loadMore>
                                        </p-footer>

                                        <p-column [style]="{'width':'30px', 'text-align':'center', 'vertical-align':'center'}">
                                            <template pTemplate="header" let-row="rowData">
                                                        <md-checkbox name="allCheck" [(ngModel)]="allCheck" (change)="checkAll2($event)">
                                                        </md-checkbox>   
                                                    </template>
                                            <template pTemplate="body" let-row="rowData" let-i="rowIndex">
                                                        <md-checkbox [checked]="flagCheck[i]"  (change)="select(i ,row,$event)" >
                                                        </md-checkbox>   
                                                    </template>
                                        </p-column>

                                        <div *ngFor="let column of columns">

                                            <p-column *ngIf="column.name =='count'  " [field]="column.name" [header]="column.label" [style]="{'width':'50px'}">
                                                <template let-col let-row="rowData" pTemplate="body" let-i="rowIndex">
                                                    <span *ngIf=" row.isExp =='N' "  (click)="selectDocument(row)" >{{i+1}}</span>    
                                                    <span *ngIf=" row.isExp =='Y' " style="color: red"  (click)="selectDocument(row)" >{{i+1}}</span>  
                                                 </template>
                                            </p-column>
                                            <p-column *ngIf="column.name !='infozafeBarcode' && column.name !='borrowStatus'  && column.name !='count' && column.name!=='Edit' && column.name!=='createdBy'&& column.name!=='updatedBy'  " [field]="column.name" [header]="column.label" [sortable]="true">
                                                <template let-col let-row="rowData" pTemplate="body" let-i="rowIndex">
                                                <span *ngIf=" row.isExp =='N' "   (click)="selectDocument(row)" > {{row[column.name]}}</span>    
                                                <span  *ngIf=" row.isExp =='Y' " style="color: red" (click)="selectDocument(row)" > {{row[column.name]}}</span>    
                                            </template>
                                            </p-column>

                                            <p-column *ngIf="column.name =='borrowStatus'  " [field]="column.name" [header]="column.label" [style]="{'width':'100px'}">
                                                <template let-col let-row="rowData" pTemplate="body" let-i="rowIndex">
                                                    <span *ngIf=" row.isExp =='N'  && row.borrowStatus == 0 "  (click)="docBorrow(row)" >ว่าง</span>    
                                                    <span *ngIf=" row.isExp =='N'  && row.borrowStatus == 1 "  (click)="docBorrow(row)" >ยืม</span>  

                                                    <span *ngIf=" row.isExp =='Y'  && row.borrowStatus == 0 " style="color: red" (click)="docBorrow(row)" >ว่าง</span>    
                                                    <span *ngIf=" row.isExp =='Y'  && row.borrowStatus == 1 "  style="color: red"(click)="docBorrow(row)" >ยืม</span>  
                                                </template>
                                            </p-column>

                                            <p-column *ngIf="column.name =='infozafeBarcode'  " [field]="column.name" [header]="column.label">
                                                <template let-col let-row="rowData" pTemplate="body" let-i="rowIndex">
                                                        <span *ngIf=" row.isExp =='N'  && row.infozafeBarcode == null "  (click)="selectDocument(row)" >จัดเก็บเอง</span>    
                                                        <span *ngIf=" row.isExp =='N'  && row.infozafeBarcode != null "  (click)="selectDocument(row)" >สถานะจัดเก็บ {{row[column.name]}}</span>  
    
                                                        <span *ngIf=" row.isExp =='Y'  && row.infozafeBarcode == null " style="color: red" (click)="selectDocument(row)" >จัดเก็บเอง</span>    
                                                        <span *ngIf=" row.isExp =='Y'  && row.infozafeBarcode != null "  style="color: red"(click)="selectDocument(row)" >สถานะจัดเก็บ {{row[column.name]}}</span>  
                                                    </template>
                                            </p-column>

                                            <p-column *ngIf="column.name =='createdBy'  " [field]="column.name" [header]="column.label" [sortable]="true" >
                                                <template let-col let-row="rowData" pTemplate="body" let-i="rowIndex">
                                                        <span *ngIf=" row.isExp =='N' "  (click)="selectDocument(row)" >{{row.userProfileCreate.fullName}}</span>    
                                                        <span *ngIf=" row.isExp =='Y' " style="color: red"  (click)="selectDocument(row)" >{{row.userProfileCreate.fullName}}</span>  
                                                     </template>
                                            </p-column>

                                            <p-column *ngIf="column.name =='updatedBy'  " [field]="column.name" [header]="column.label" [sortable]="true">
                                                <template let-col let-row="rowData" pTemplate="body" let-i="rowIndex">
                                                    <span *ngIf=" row.isExp =='N' "  (click)="selectDocument(row)" >{{row.userProfileUpdate.fullName}}</span>    
                                                    <span *ngIf=" row.isExp =='Y' " style="color: red"  (click)="selectDocument(row)" >{{row.userProfileUpdate.fullName}}</span>  
                                                </template>
                                            </p-column>
                                            <p-column *ngIf="column.name =='removedBy'  " [field]="column.name" [header]="column.label">
                                                <template let-col let-row="rowData" pTemplate="body" let-i="rowIndex">
                                                    <span *ngIf=" row.isExp =='N' "  (click)="selectDocument(row)" >{{row.userProfileDel.fullName}}</span>    
                                                    <span *ngIf=" row.isExp =='Y' " style="color: red"  (click)="selectDocument(row)" >{{row.userProfileDel.fullName}}</span>  
                                                </template>
                                            </p-column>
                                        </div>
                                    </p-dataTable>

                                    <!-- aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->
                                </md-card-content>
                            </md-card>
                            <!--mobile view   -->
                            <div hide-gt-md>
                                <template let-item let-last="last" ngFor [ngForOf]="datas">
                                <md-list-item >
                                    <md-icon md-list-avatar style="background: #b1ccea">description</md-icon>
                                    
                                    <h3 md-line class="hover" (click)="selectDocument(item)"> {{item.documentName}} </h3>
                             

                                </md-list-item>
                                <div style="text-align: center;">
                                    <loadMore [listReturn]="listReturn" (load)=loadMoreContents()></loadMore>
                                </div>
                                <md-divider  md-inset></md-divider>
                            </template>

                            </div>

                        </md-list>

                    </div>
                </div>
            </div>
        </md-sidenav-layout>

    </div>





    <div hide show-gt-md [tdToggle]="!ModeSearch" layout="column" id="fixedbutton" (click)="overMenu();" (mouseleave)="leaveMenu();">

        <div layout="column" class="showbutton" [tdToggle]="hoverMenuEdit">

            <button *ngIf='checkBox' md-fab [style.background]="'#79ff4d'" color="accent" title="ย้าย" (click)="listFolderTree(); ">
                    <md-icon>compare_arrows</md-icon>
                </button>

            <button *ngIf='checkBox && authDelDoc' md-fab [style.background]="'#C8665A'" color="accent" title="ลบ" (click)="delDocSelec(); ">
                    <md-icon>delete</md-icon>
                </button>
            <div *ngIf='authDocRe && !checkBox '>
                <button md-fab color="accent" [style.background]="'#696969'" title="รายงาน" (click)="report(); ">
                    <md-icon>assignment</md-icon>
                </button>
            </div>
            <div *ngIf='authAddDoc && !checkBox '>
                <button md-fab color="accent" [style.background]="warn" title="เพิ่มเอกสาร" (click)="addDocument()">
                <md-icon>add</md-icon>
            </button>
            </div>
            <button *ngIf='!checkBox' md-fab color="accent" [style.background]="'#FF0000'" title="ค้นหาเอกสารหมดอายุ" (click)="searchExp()">
                <md-icon>search</md-icon>
            </button>
            <button *ngIf='!checkBox' md-fab color="accent" [style.background]="'#1976d2'" title="ค้นหา" (click)="sideSubMenu.open(); ModeSearch = false">
                <md-icon>search</md-icon>
            </button>


        </div>

        <button md-fab color="accent" title="รายการเมนู">
        <md-icon>{{listMenu}}</md-icon>
    </button>
    </div>

    <div [tdToggle]="ModeSearch" layout="column" id="fixedbutton">
        <button md-fab [style.background]="'#1976d2'" color="accent" title="ค้นหา" (click)="dmsSearch();sideSubMenu.close();">
        <md-icon>search</md-icon>
    </button>
    </div>
</div>