.title {
    background: #8fc2f5;
    padding-bottom: 16px;
    text-align: -webkit-center;
}

.content {
    padding-top: 0;
}

.in {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.list {
    height: auto;
}

:host/deep/md-list-item.md-3-line .md-list-item, {
    height: auto;
}

:host/deep/md-list-item.md-3-line .md-list-item:hover {
    cursor: pointer;
    color: #F1F1F1;
    background: #1976d2;
}

.block-icon-Option {
    cursor: pointer;
    /*color: #707070*/
    color: #F1F1F1;
}

.menuList {
    padding-bottom: 3px;
}