<div layout="column" flex>
    <div style="background:#e0785f; color:#fff;" layout="row" flex>
        <button md-icon-button (click)="goBack()">
            <md-icon>arrow_back</md-icon>
        </button>
        <button md-icon-button disabled>
          <md-icon>{{iconHeader}}</md-icon>
        </button>
        <div flex class="menu-showLabel">
            <span>สร้างผู้ใช้งาน</span>
        </div>
        <!--<button md-icon-button>
            <md-icon>more_vert</md-icon>
        </button>-->
        <!--<md-menu #menu="mdMenu" x-position="before">
            <button md-menu-item *ngFor="let menu of menus" (click)="add(menu)"> เพิ่ม{{menu.name}} </button>
        </md-menu>-->
    </div>
</div>
<div layout="column" flex>
    <md-sidenav-layout layout="column" flex fullscreen>
        <div class="body-showCenter">
            <div layout-gt-md="row" layout-align-gt-md="center center">
                <div flex-gt-md="70">
                    <!--<md-card>
                        <md-card-title class="push-bottom-none" style="background: #efb3a5;">
                            <span class="md-headline">ชื่อผู้ใช้ & รหัสผ่าน</span>
                        </md-card-title>
                        <md-card-content class="push-bottom-none">
                            <form #addUserform="ngForm" [tdToggle]="!toggleAddUser">
                                <div layout="row" layout-xs="column" layout-margin>
                                    <div flex="50" flex-xs="100">
                                        <md-input-container style="display:flex;">
                                            <input md-input #userName type="text" placeholder="ชื่อผู้ใช้" name="userName" [(ngModel)]="user.name" tdAutoTrim required pattern="[a-zA-Z0-9. ]*" minlength="6" maxlength="255">
                                            <md-hint align="end">อย่างน้อย 6 ตัวอักษร {{userName.value.length}} / 255</md-hint>
                                        </md-input-container>
                                    </div>
                                    <div flex="50" flex-xs="100">
                                        <md-input-container style="display:flex;">
                                            <input md-input #pass type="password" placeholder="รหัสผ่าน" name="pass" [(ngModel)]="user.passwords" tdAutoTrim required pattern="[a-zA-Z0-9 ]*" minlength="6" maxlength="100">
                                            <md-hint align="end">อย่างน้อย 6 ตัวอักษร {{pass.value.length}} / 100</md-hint>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" layout-margin>
                                    <div flex flex-xs="100">
                                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="วันเริ่มต้นใช้งาน" locale="th" name="activeDate" [(ngModel)]="user.activeDate"></my-date-picker>
                                    </div>
                                    <div flex flex-xs="100">
                                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="วันสิ้นสุดใช้งาน" locale="th" name="expireDate" [(ngModel)]="user.expireDate"></my-date-picker>
                                    </div>
                                    <div flex flex-xs="100">
                                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="วันที่หมดอายุของรหัสผ่าน" locale="th" name="passwordExpireDate" [(ngModel)]="user.passwordExpireDate"></my-date-picker>
                                    </div>
                                </div>
                            </form>
                            <md-list>
                                <div [tdToggle]="toggleAddUser">
                                    <md-list-item>
                                        <md-icon md-list-avatar>lock</md-icon>
                                        <h3 md-line class="hover">ชื่อผู้ใช้: {{userResult.name}}</h3>
                                        <h4 md-line> รหัสผ่าน: ******** </h4>
                                        <p md-line>วันเริ่มต้นใช้งาน: {{userResult.activeDate}}</p>
                                        <p md-line>วันสิ้นสุดใช้งาน: {{userResult.expireDate}}</p>
                                        <p md-line>วันที่หมดอายุของรหัสผ่าน: {{userResult.passwordExpireDate}}</p>
                                        <div class="block-icon-Option">
                                            <i class="material-icons icon-button" (click)="editUser()">edit</i>
                                        </div>
                                    </md-list-item>
                                </div>
                            </md-list>
                        </md-card-content>
                        <md-card-actions [tdToggle]="!toggleAddUser" layout="row" layout-align="center center">
                            <button *ngIf="mode==='Edit'" md-raised-button [ngClass]="{'md-primary': addUserform.form.valid}" [disabled]="!addUserform.form.valid" (click)="updateUser()" class="push-right">แก้ไข</button>
                            <button *ngIf="mode==='Add'" md-raised-button [ngClass]="{'md-primary': addUserform.form.valid}" [disabled]="!addUserform.form.valid" (click)="createUser()" class="push-right">บันทึก</button>
                            <button md-raised-button md-ripple [disabled]="isDisabled" (click)="goBack()">ยกเลิก</button>
                        </md-card-actions>
                    </md-card>-->

                    <!--<md-card [tdToggle]="!formAddUser || formAddProfile" style="background-color: #efb3a5;">
                        <md-card-content>
                            <md-list>
                                <md-list-item class="hover" (click)="openFormAddProfile()">
                                    <md-icon md-list-avatar class="hover">add_circle_outline</md-icon>
                                    <h4 md-line style="font-weight: bold;" title="Create : New User Profiles">สร้าง : รายละเอียดผู้ใช้งาน</h4>
                                    <p md-line title="Create : New Profiles">สร้างรายละเอียดผู้ใช้งาน..</p>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>-->

                    <md-card [tdToggle]="toggleListProfile">
                        <md-card-title class="push-bottom-none" style="background: #efb3a5;">
                            <span class="md-headline">ประวัติรายละเอียดผู้ใช้งาน</span>
                        </md-card-title>
                        <md-card-content class="push-bottom-none">
                            <md-list>
                                <template let-item let-last="last" ngFor [ngForOf]="userProfileList">
                                    <md-list-item  class="listProfile hover"  (mouseover)="over(item.id);" (mouseleave)="leave();" >
                                        <md-icon md-list-avatar>person</md-icon>
                                        <h3 md-line>{{item.fullName}}</h3>
                                        <h5 md-line>ตำแหน่ง : {{item.position.name}}</h5>
                                        <p md-line>หน่วยงาน : {{item.structure.name}}</p>
                                        <div hide show-gt-md class="block-icon-Option" [hidden]="hoverEdit == item.id">
                                            <i [hidden]="hoverEdit !== item.id" 
                                            [ngClass]="{'displayShow': hoverEdit == item.id, 'displayIconNone': hoverEdit !== item.id}" 
                                            class="material-icons icon-button" (click)="editProfile(item)" >edit</i>
                                        </div>
                                        <div hide-gt-md class="block-icon-Option" >
                                            <i class="material-icons icon-button" (click)="editProfile(item)" >edit</i>
                                        </div>
                                    </md-list-item>
                                </template>
                            </md-list>
                        </md-card-content>
                    </md-card>

                    <md-card [tdToggle]="toggleAddProfile">
                        <md-card-title class="push-bottom-none" style="background: #efb3a5;">
                            <span class="md-headline">สร้างรายละเอียดผู้ใช้งาน</span>
                        </md-card-title>
                        <md-card-content class="push-bottom-none">
                            <form #addUserProfileform="ngForm" [tdToggle]="formAddProfile">
                                <div layout="row" layout-xs="column" layout-margin>
                                    <div flex="100" flex-xs="100">
                                        <md-select placeholder="หน่วยงาน" [(ngModel)]="userProfile.structure.id" name="department" style="display:inherit;" required>
                                            <md-option *ngFor="let dm of department" [value]="dm.id">
                                                {{dm.name}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" layout-margin>
                                    <div flex="48" flex-xs="100">
                                        <md-select placeholder="คำนำหน้า" [(ngModel)]="userProfile.title.id" name="title" class="pad-top" style="display:inherit;" required>
                                            <md-option *ngFor="let title of titles" [value]="title.id">
                                                {{title.name}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                    <div flex="48" flex-xs="100">
                                        <md-select placeholder="ประเภทผู้ใช้งาน" [(ngModel)]="userProfile.userProfileType.id" name="userProfileType" class="pad-top" style="display:inherit;" required>
                                            <md-option *ngFor="let upt of userProfileTypes" [value]="upt.id">
                                                {{upt.name}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" layout-margin>
                                    <div flex="50" flex-xs="100">
                                        <md-input-container style="display:flex;">
                                            <input md-input type="text" placeholder="ชื่อ" name="firstName" [(ngModel)]="userProfile.firstName" required>
                                        </md-input-container>
                                    </div>
                                    <div flex="50" flex-xs="100">
                                        <md-input-container style="display:flex;">
                                            <input md-input type="text" placeholder="นามสกุล" name="lastName" [(ngModel)]="userProfile.lastName" required>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" layout-margin>
                                    <div flex="50" flex-xs="100">
                                        <md-input-container style="display:flex;">
                                            <input md-input type="text" placeholder="ชื่อ(ภาษาอังกฤษ)" name="nameEng" [(ngModel)]="userProfile.firstNameEng">
                                        </md-input-container>
                                    </div>
                                    <div flex="50" flex-xs="100">
                                        <md-input-container style="display:flex;">
                                            <input md-input type="text" placeholder="นามสกุล(ภาษาอังกฤษ)" name="lastNameEng" [(ngModel)]="userProfile.lastNameEng">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" layout-margin>
                                    <div flex="50" flex-xs="100">
                                        <md-input-container style="display:flex;">
                                            <input md-input #idCard type="text" placeholder="เลขที่บัตรประชาชน" name="idCard" [(ngModel)]="userProfile.idCard" required OnlyNumber="true" minlength="13" maxlength="13">
                                            <md-hint align="end">{{idCard.value.length}} / 13</md-hint>
                                        </md-input-container>
                                    </div>
                                    <div flex="50" flex-xs="100">
                                        <md-input-container style="display:flex;">
                                            <input md-input type="text" placeholder="รหัสพนักงาน" name="code" [(ngModel)]="userProfile.code">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" layout-margin>
                                    <div flex="100" flex-xs="100">
                                        <md-select placeholder="ตำแหน่ง" [(ngModel)]="userProfile.position.id" name="title" class="pad-top" style="display:inherit;" required>
                                            <md-option *ngFor="let position of positions" [value]="position.id">
                                                {{position.name}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" layout-margin>
                                    <div flex="100" flex-xs="100">
                                        <md-input-container style="width:100%;">
                                            <textarea md-input #address placeholder="ที่อยู่" name="address" rows="2" [(ngModel)]="userProfile.address" maxlength="255"></textarea>
                                            <md-hint align="end">{{address.value.length}} / 255</md-hint>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" layout-margin>
                                    <div flex="50" flex-xs="100">
                                        <md-input-container style="display:flex;">
                                            <input md-input type="tel" placeholder="โทรศัพท์" name="tel" [(ngModel)]="userProfile.tel">
                                        </md-input-container>
                                    </div>
                                    <div flex="50" flex-xs="100">
                                        <md-input-container style="display:flex;">
                                            <input md-input type="email" placeholder="อีเมล์" name="email" [(ngModel)]="userProfile.email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" layout-margin>
                                    <div flex="100" flex-xs="100">
                                        <md-select placeholder="สถานะผู้ใช้งาน" [(ngModel)]="userProfile.userStatus.id" name="userStatus" style="display:inherit;" required>
                                            <md-option *ngFor="let us of userStatuss" [value]="us.id">
                                                {{us.name}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </div>
                            </form>

                        </md-card-content>
                        <md-card-actions [tdToggle]="toggleAddProfile" layout="row" layout-align="center center">
                            <button *ngIf="modeProfile==='Edit'" md-raised-button [ngClass]="{'md-primary': addUserProfileform.form.valid}" [disabled]="!addUserform.form.valid" (click)="updateProfile(userProfile)" class="push-right">แก้ไข</button>
                            <button *ngIf="modeProfile==='Add'" md-raised-button [ngClass]="{'md-primary': addUserProfileform.form.valid}" [disabled]="!addUserProfileform.form.valid" (click)="createProfile(userProfile)" color="primary" [style.margin-right]="'5px'">บันทึก</button>
                            <button md-raised-button md-ripple [disabled]="isDisabled" (click)="cancelCreateProfile()">ยกเลิก</button>
                        </md-card-actions>
                    </md-card>

                    <md-card [tdToggle]="toggleCommand" style="background-color: #efb3a5;">
                        <md-card-content>
                            <md-list>
                                <md-list-item class="hover" (click)="openFormAddProfile()">
                                    <md-icon md-list-avatar class="hover">add_circle_outline</md-icon>
                                    <h4 md-line style="font-weight: bold;" title="Create : New User Profiles">สร้าง : รายละเอียดผู้ใช้งาน</h4>
                                    <p md-line title="Create : New Profiles">สร้างรายละเอียดผู้ใช้งาน..</p>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>

                    <!--<md-card >
                        <md-card-content>
                            <template let-item let-last="last" ngFor [ngForOf]="userprofileList">
                                    <md-list-item  class="listProfile hover"  (mouseover)="over(item.id);" (mouseleave)="leave();" >

                                        <md-icon md-list-avatar>person</md-icon>

                                        <h3 md-line>{{item.userProfilefullName}}</h3>
                                        <h5 md-line>ตำแหน่ง : {{item.positionName}}</h5>
                                        <p md-line>หน่วยงาน : {{item.departmentId}}</p>


                                        <div hide show-gt-md class="block-icon-Option" [hidden]="hoverEdit == item.id">
                                            <i [hidden]="hoverEdit !== item.id" 
                                            [ngClass]="{'displayShow': hoverEdit == item.id, 'displayIconNone': hoverEdit !== item.id}" 
                                            class="material-icons icon-button" (click)="editProfile(item)" >edit</i>
                                        </div>
                                        <div hide-gt-md class="block-icon-Option" >
                                            <i class="material-icons icon-button" (click)="editProfile(item)" >edit</i>
                                        </div>
                                    </md-list-item>

                                    <div [tdToggle]="formEditProfile !== item.id">       
                                        <form layout-padding  style="width: 100%; padding: 24px;" layout="column" class="input-Login" #addUserprofileform="ngForm" layout-align="center start">
                                            <div layout="row" layout-align="left start" style="width: 100%; margin-bottom: 10px;">
                                                <md-select placeholder="หน่วยงาน" [(ngModel)]="item.departmentId" name="departmentId" style="width: 100%;" required>
                                                    <md-option *ngFor="let dm of department" [value]="dm.structureId">
                                                        {{dm.structureName}}
                                                    </md-option>
                                                </md-select>
                                            </div>
                                            <div layout="row" layout-align="left start" style="width: 100%;">
                                                <md-input flex placeholder="firstName" name="firstName" [(ngModel)]="item.firstName" required>
                                                </md-input>
                                            </div>
                                            <div layout="row" layout-align="left start" style="width: 100%;">
                                                <md-input flex placeholder="lastName" name="lastName" [(ngModel)]="item.lastName" required>
                                                </md-input>
                                            </div>
                                            <div layout="row" layout-align="left start" style="width: 100%;">
                                                <md-input flex placeholder="positionName" name="positionName" [(ngModel)]="item.positionName" required>
                                                </md-input>
                                            </div>
                                            <div layout="row" layout-align="left start" style="width: 100%;">
                                                <md-input flex placeholder="Address" name="address" [(ngModel)]="item.address" required>
                                                </md-input>
                                            </div>
                                            <div layout="row" layout-align="center start" style="width: 100%;">
                                                <md-input style="margin-right: 20px;" flex placeholder="Tel." name="Tel" [(ngModel)]="item.tel" required>
                                                </md-input>
                                            </div>
                                            <div layout="row" layout-align="center start" style="width: 100%;" [style.margin-top]="'15px'">
                                                <button md-raised-button (click)="updateProfile(item)" color="primary" [style.margin-right]="'5px'">Edit Profiles</button>
                                                <button md-raised-button md-ripple (click)="cancelupdateProfile()" [disabled]="isDisabled">Clear</button>
                                            </div>
                                        </form>
                                    </div>

                                </template>
                        </md-card-content>
                    </md-card>-->
                </div>
            </div>
        </div>
    </md-sidenav-layout>
</div>