:host/deep/.ui-dialog.ui-widget .ui-dialog-titlebar {
    background: #8fc2f5;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: left;
}
:host/deep/.ui-dialog.ui-widget .ui-dialog-content {
    padding-top: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: auto;
    min-width: 200px;
    min-height: 100px;
    max-width: 600px;
    max-height: 300px;
}

.p-autocomplete {
    width: 100%;
}
:host/deep/.ui-autocomplete-multiple-container.ui-inputtext {
    width: 100%;
}