<div flex style="   
    background: #b74f36;
    padding: 12px;
    color: #FFF;
    
    font-size: large;">
    ลืมรหัสผ่าน
</div>
<div style="padding-top: 20px; padding-left:10px; padding-right:10px;">
    <div layout="column">
        <md-input-container class="setWidth">
            <span md-prefix><md-icon>person</md-icon></span>
            <input md-input type="text" placeholder="รหัสพนักงาน" name="username" [(ngModel)]="user.name" focused required>
        </md-input-container>
        <md-input-container class="setWidth">
            <span md-prefix><md-icon>email</md-icon></span>
            <input md-input type="text" placeholder="E-mail" name="passwords" [(ngModel)]="user.passwords" focused required>
        </md-input-container>
    </div>
    <div layout="row" flex style="text-align: center; margin-top:2rem; margin-bottom:1rem;" layout-align="center">
        <button md-raised-button color="primary" style="margin-right: 5px;" (click)="save(user)">ตกลง</button>
        <button md-raised-button (click)="cancel()">ยกเลิก</button>
    </div>
</div>

<!--<div style="padding-top: 20px;">
  <div layout="row" flex style="padding-left: 15px; margin-bottom: 30px;">
    ระบบได้ทำการส่ง Email ไปที่ wo****en@gmail.com แล้ว
  </div>
  <div layout="row" flex layout-align="end" >
    <button md-raised-button color="primary" style="margin-right: 5px; margin-top: 10 px;">ตกลง</button>
  </div>
</div>-->
<p-growl [(value)]="msgs" [life]="3000"></p-growl>