.drop-files-area
    border: 3px dashed #8fc2f5
    border-radius:10px
    padding: 10px
    min-height: 65px
.nv-file-over
    border: 3px dashed grey

.animated {
    position: relative;
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes fadein {
    0%   { opacity: 0; }
    50%  { opacity: 0.5; }
    100% { opacity: 1; }
}