<div class="body-showCenter">
    <div layout-gt-md="row" layout-align-gt-md="center start" class="margin main-admin">
        <div flex-gt-md="70">
            <md-card style="margin-left: 0px; margin-right: 0px;">
                <md-card-title>{{title}}</md-card-title>
                <!--<md-card-subtitle>Subtitle</md-card-subtitle>-->
                <md-card-content>
                    <form #addFolderForm="ngForm">
                        <div layout="row" layout-margin layout-align="left start" style="width: 100%;">
                            <md-input-container flex>
                                <input md-input type="text" placeholder="holidayName" name="holidayName" [(ngModel)]="holiday.holidayName" required>
                            </md-input-container>
                            <div flex>
                                <my-date-picker *ngIf="mode==='Add'" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="{{holiday.holidayDate}}" locale="th" name="holidayDate" [(ngModel)]="holiday.holidayDate" required></my-date-picker>
                                <my-date-picker *ngIf="mode==='Edit'" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="" locale="th" name="holidayDate" [(ngModel)]="model" required></my-date-picker>
                            </div>
                        </div>
                        <!--<div layout="row" layout-align="left start" style="width: 50%;">-->
                        <!--<md-input-container flex>
                                <input md-input type="text" placeholder="holidayDate" name="holidayDate" [(ngModel)]="holiday.holidayDate" required>
                            </md-input-container>-->

                        <!--</div>-->
                    </form>
                    <div layout="row" layout-align="center start" style="width: 100%;" [style.margin-top]="'15px'">
                        <button *ngIf="mode==='Add'" md-raised-button [ngClass]="{'md-primary': addFolderForm.form.valid}" [disabled]="!addFolderForm.form.valid" [style.margin-right]="'5px'" (click)="save(holiday)">บันทึก</button>
                        <button *ngIf="mode==='Edit'" md-raised-button [ngClass]="{'md-primary': addFolderForm.form.valid}" [disabled]="!addFolderForm.form.valid" [style.margin-right]="'5px'" (click)="update(holiday)">บันทึกแก้ไข</button>
                        <button md-raised-button color="primary" (click)="goBack()" [style.margin-right]="'5px'">ยกเลิก</button>
                    </div>
                </md-card-content>
            </md-card>


        </div>
    </div>
    <!-- -->
    <!--<div layout-gt-md="row" layout-align-gt-md="center start" class="margin main-admin">
        <div flex-gt-md="70">
            <md-list>
                <md-icon md-list-avatar>dns</md-icon>
                <md-input-container flex>
                    <input md-input type="text" placeholder="holidayName" name="holidayName" [(ngModel)]="holiday.holidayName" [value]='holiday.holidayName' />
                </md-input-container>
                <md-input-container flex>
                    <input md-input type="text" placeholder="holidayDate" name="holidayDate" [(ngModel)]="holiday.holidayDate" [value]='holiday.holidayDate' />
                </md-input-container>
            </md-list>
            <div layout="row" layout-align="center start" style="width: 100%;">
                <button [style.margin-right]="'5px'">บันทึก</button>
                
            </div>
        </div>
    </div>-->
</div>