<div layout="column" flex>
    <div class="bgc-blue-700" [style.color]="'#fff'" layout="row" flex>
        <button md-icon-button (click)="goBack()">
            <md-icon>arrow_back</md-icon>
        </button>
        <button md-icon-button disabled>
          <md-icon>list</md-icon>
        </button>
        <div flex style="padding-top: 10px;">
            <span hide show-gt-md>{{path[searched]}}</span>
            <span hide-gt-md>{{folder.wfFolderName}}</span>
        </div>
        <!-- <barcode [barcodeFilter]="barcodeFilter" (search)="searchBarcode($event)" (onUnselect)="reset()"></barcode> -->

        <button hide-gt-md md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu" x-position="before">
            <div *ngFor="let menu of menus">
                <button md-menu-item (click)="menuAction(menu)">{{menu.name}}</button>
            </div>
        </md-menu>

    </div>
</div>

<div *ngIf="!loaded">
    <md-progress-bar style="margin:0 auto;" mode="indeterminate" color="primary">
    </md-progress-bar>
</div>

<div *ngIf="loaded" layout="column" flex (click)="sideNavAlert($event)">
    <md-sidenav-layout layout="column" flex fullscreen>
        <md-sidenav #sidenav align="end">
            <form layout-padding class="sidenav" layout="column" layout-align="center start">
                <div *ngIf="folder.searchField[0]" layout="row" layout-align="left start" class="searchFilter">
                    <md-input flex type="number" placeholder="ปี" name="year" [(ngModel)]="searchFilters.wfContentContentYear"></md-input>
                </div>
                <md-select *ngIf="folder.searchField[1]" class="searchFilter" style="width:100%; padding-top:10px; padding-bottom:10px;" placeholder="สถานะหนังสือ" name="status" [(ngModel)]="searchFilters.status">
                    <md-option [value]=0>ทั้งหมด</md-option>
                    <md-option [value]=1>ดำเนินการ</md-option>
                    <md-option [value]=2>เรื่องเสร็จ</md-option>
                    <md-option [value]=3>ถูกยกเลิก</md-option>
                </md-select>
                <md-select *ngIf="folder.searchField[1]" class="searchFilter" style="width:100%; padding-top:10px; padding-bottom:10px;" placeholder="สถานะการส่ง" name="sendingStatus" [(ngModel)]="searchFilters.sendingStatus">
                    <md-option [value]=0>ทั้งหมด</md-option>
                    <md-option [value]=1>ยังไม่ส่งหนังสือ</md-option>
                    <md-option [value]=2>ส่งหนังสือแล้ว</md-option>
                </md-select>
                <div *ngIf="folder.searchField[2]" layout="row" layout-align="left start" class="searchFilter">
                    <md-input flex placeholder="เลขทะเบียน" name="contentNo" [(ngModel)]="searchFilters.wfContentContentNo"></md-input>
                </div>
                <!-- <md-select *ngIf="folder.searchField[2]" class="searchFilter" style="width:100%; padding-top:10px; padding-bottom:10px;" placeholder="ช่วงเวลา" name="contentTimeRange" [(ngModel)]="searchFilters.contentTimeRange">
                    <md-option [value]="0">ทั้งหมด</md-option>
                    <md-option [value]="1">06.00 น. - 09.00 น.</md-option>
                    <md-option [value]="2">09.00 น. - 12.00 น.</md-option>
                    <md-option [value]="3">12.00 น. - 15.00 น.</md-option>
                    <md-option [value]="3">15.00 น. - 18.00 น.</md-option>
                    <md-option [value]="3">18.00 น. - 21.00 น.</md-option>
                    <md-option [value]="3">21.00 น. - 06.00 น.</md-option>
                </md-select> -->
                <div *ngIf="folder.searchField[3]" layout="row" layout-align="left start" class="searchFilter">
                    <md-input flex="50" type="number" placeholder="ลำดับเลขทะเบียนจาก" name="startContenNo" [(ngModel)]="searchFilters.wfContentStartContentNo"></md-input>
                    <md-input flex="50" type="number" placeholder="ลำดับเลขทะเบียนถึง" name="endContenNo" [(ngModel)]="searchFilters.wfContentEndContentNo"></md-input>
                </div>
                <div *ngIf="folder.searchField[4]" layout="row" layout-align="left start" class="searchFilter">
                    <md-input flex placeholder="เลขที่หนังสือ" name="bookNo" [(ngModel)]="searchFilters.wfContentBookNo"></md-input>
                </div>
                <div *ngIf="folder.searchField[5]" layout="column" layout-align="left start" class="searchFilter">
                    <my-date-picker [options]="myDatePickerOptions" placeholder="วันที่จาก" locale="th" name="contentStartDate" [(ngModel)]="searchFilters.wfContentContentStartDate">
                    </my-date-picker>
                    <my-date-picker [options]="myDatePickerOptions" placeholder="วันที่ถึง" locale="th" name="contentEndDate" [(ngModel)]="searchFilters.wfContentContentEndDate">
                    </my-date-picker>
                </div>
                <div *ngIf="folder.searchField[6]" layout="column" layout-align="left start" class="searchFilter">
                    <my-date-picker [options]="myDatePickerOptions" placeholder="ลงวันที่จาก" locale="th" name="bookStartDate" [(ngModel)]="searchFilters.wfContentBookStartDate">
                    </my-date-picker>
                    <my-date-picker [options]="myDatePickerOptions" placeholder="ลงวันที่ถึง" locale="th" name="bookEndDate" [(ngModel)]="searchFilters.wfContentBookEndDate">
                    </my-date-picker>
                </div>
                <div *ngIf="folder.searchField[7]" layout="row" layout-align="left start" class="searchFilter">
                    <md-input flex placeholder="จาก" name="from" [(ngModel)]="searchFilters.wfContentFrom"></md-input>
                </div>
                <div *ngIf="folder.searchField[8]" layout="row" layout-align="left start" class="searchFilter">
                    <md-input flex placeholder="ถึง" name="to" [(ngModel)]="searchFilters.wfContentTo"></md-input>
                </div>
                <div *ngIf="folder.searchField[9]" layout="row" layout-align="left start" class="searchFilter">
                    <md-input flex placeholder="เรื่อง" name="title" [(ngModel)]="searchFilters.wfContentTitle"></md-input>
                </div>
                <div *ngIf="folder.searchField[10]" layout="row" layout-align="left start" class="searchFilter">
                    <md-input flex placeholder="หมายเหตุ" name="description" [(ngModel)]="searchFilters.wfContentDescription"></md-input>
                </div>
                <div *ngIf="folder.searchField[11]" layout="row" layout-align="left start" class="searchFilter">
                    <md-input flex placeholder="ผู้รับผิดชอบ" name="userName" [(ngModel)]="searchFilters.userName"></md-input>
                </div>
                <div *ngIf="folder.searchField[12]" layout="row" layout-align="left start" class="searchFilter">
                    <md-input flex placeholder="ข้อความในเอกสารแนบ" name="fileAttachText" [(ngModel)]="searchFilters.fileAttachText"></md-input>
                </div>
                <div *ngIf="folder.searchField[13]" layout="row" layout-align="left start" class="searchFilter">
                    <md-input flex placeholder="ไปรษณีย์ลงทะเบียน" name="wfContentStr03" [(ngModel)]="searchFilters.wfContentStr03"></md-input>
                </div>
            </form>
        </md-sidenav>

        <div class="body-showCenter">
            <div layout-gt-md="row" layout-align-gt-md="center start" class="margin main-admin">
                <div flex-gt-md="100">
                    <md-card hide show-gt-md>
                        <md-card-content>
                            <p-dataTable #dt [value]="datas[searched]" [(first)]="tableFirst[searched]" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" selectionMode="single" (onRowSelect)="show($event.data)" [resizableColumns]="false"
                                [responsive]="true" styleClass="fixed-size">
                                <p-header>
                                    <div layout="row" layout-align="space-between start">
                                        <div>
                                        </div>
                                        <div>
                                            <span>รายการหนังสือ</span>
                                        </div>
                                        <div>
                                            <button (click)="reset(); dt.reset();"><i class="fa fa-refresh"></i></button>
                                        </div>
                                    </div>
                                </p-header>
                                <p-footer>
                                    <loadMore [listReturn]="listReturn[searched]" (load)=loadMoreContents()></loadMore>
                                </p-footer>
                                <p-column header="สถานะ" [style]="{'width':'50px', 'text-align':'center', 'vertical-align':'top'}">
                                    <template pTemplate="body" let-row="rowData">
                                        <button *ngIf="row.wfContentInt03==0" md-icon-button title="ยังไม่ส่งหนังสือ" (click)="send(row)" [disabled]="row.status!=1"><i class="material-icons">send</i></button> 
                                        <button *ngIf="row.wfContentInt03==1" md-icon-button title="ส่งหนังสือแล้ว" (click)="send(row)" [disabled]="row.status!=1"><i class="material-icons sent">send</i></button> 
                                    </template>
                                </p-column>
                                <p-column header="เอกสารแนบ" [style]="{'width':'50px', 'text-align':'center', 'vertical-align':'top'}">
                                    <template pTemplate="body" let-row="rowData">
                                        <button *ngIf="row.numFileAttach>0" md-icon-button title="{{row.numFileAttach}} รายการ" disabled><i class="material-icons">attach_file</i></button> 
                                    </template>
                                </p-column>
                                <p-column field="wfContentContentNo" header="เลขทะเบียน" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="กรอง" [style]="{'width':'115px', 'vertical-align':'top', 'word-wrap':'break-word'}">
                                    <template pTemplate="body" let-row="rowData">   
                                        <span *ngIf="!row.hasFinish && !row.isCanceled">{{row.wfContentContentNo}}</span>
                                        <span *ngIf="row.hasFinish" style="color:lightgrey;">{{row.wfContentContentNo}}</span>
                                        <span *ngIf="row.isCanceled" style="color:lightgrey;"><del>{{row.wfContentContentNo}}</del></span>                                        
                                    </template>
                                </p-column>
                                <p-column field="wfContentSpeed" header="ชั้นเร่งด่วน" [sortable]="true" [filter]="true" filterMatchMode="equals" [style]="{'width':'100px', 'text-align':'center', 'vertical-align':'top'}">
                                    <template pTemplate="filter" let-col>
                                         <p-dropdown [options]="speed" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter" appendTo="body"></p-dropdown> 
                                    </template>
                                    <template pTemplate="body" let-col let-row="rowData">
                                         <span *ngIf="!row.hasFinish && !row.isCanceled" [ngStyle]="cellColor_speed(row[col.field])">{{speedType[row[col.field]]}}</span>
                                         <span *ngIf="row.hasFinish" style="color:lightgrey;">{{speedType[row[col.field]]}}</span>
                                         <span *ngIf="row.isCanceled" style="color:lightgrey;"><del>{{speedType[row[col.field]]}}</del></span>
                                    </template>
                                </p-column>
                                <p-column field="wfContentBookNo" header="เลขที่หนังสือ" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="กรอง" [style]="{'width':'145px', 'vertical-align':'top', 'word-wrap':'break-word'}">
                                    <template pTemplate="body" let-row="rowData">   
                                        <span *ngIf="!row.hasFinish && !row.isCanceled">{{row.wfContentBookNo}}</span>
                                        <span *ngIf="row.hasFinish" style="color:lightgrey;">{{row.wfContentBookNo}}</span>
                                        <span *ngIf="row.isCanceled" style="color:lightgrey;"><del>{{row.wfContentBookNo}}</del></span>   
                                    </template>
                                </p-column>
                                <p-column field="wfContentFrom" header="จาก" [filter]="true" filterMatchMode="contains" filterPlaceholder="กรอง" [style]="{'width':'10%', 'vertical-align':'top'}">
                                    <template pTemplate="body" let-row="rowData">   
                                        <span *ngIf="!row.hasFinish && !row.isCanceled">{{row.wfContentFrom}}</span>
                                        <span *ngIf="row.hasFinish" style="color:lightgrey;">{{row.wfContentFrom}}</span>
                                        <span *ngIf="row.isCanceled" style="color:lightgrey;"><del>{{row.wfContentFrom}}</del></span>   
                                    </template>
                                </p-column>
                                <p-column field="wfContentTo" header="เรียน" [filter]="true" filterMatchMode="contains" filterPlaceholder="กรอง" [style]="{'width':'15%', 'vertical-align':'top'}">
                                    <template pTemplate="body" let-row="rowData">   
                                        <span *ngIf="!row.hasFinish && !row.isCanceled">{{row.wfContentTo}}</span>
                                        <span *ngIf="row.hasFinish" style="color:lightgrey;">{{row.wfContentTo}}</span>
                                        <span *ngIf="row.isCanceled" style="color:lightgrey;"><del>{{row.wfContentTo}}</del></span>   
                                    </template>
                                </p-column>
                                <p-column field="wfContentTitle" header="เรื่อง" [filter]="true" filterMatchMode="contains" filterPlaceholder="กรอง" [style]="{'width':'30%', 'vertical-align':'top'}">
                                    <template pTemplate="body" let-row="rowData">   
                                        <span *ngIf="!row.hasFinish && !row.isCanceled">{{row.wfContentTitle}}</span>
                                        <span *ngIf="row.hasFinish" style="color:lightgrey;">{{row.wfContentTitle}}</span>
                                        <span *ngIf="row.isCanceled" style="color:lightgrey;"><del>{{row.wfContentTitle}}</del></span>   
                                    </template>
                                </p-column>
                                <p-column field="wfContentContentDate" header="วันที่" [filter]="true" filterMatchMode="contains" filterPlaceholder="กรอง" [style]="{'width':'85px', 'text-align':'center', 'vertical-align':'top'}">
                                    <template pTemplate="body" let-row="rowData">   
                                        <span *ngIf="!row.hasFinish && !row.isCanceled">{{row.wfContentContentDate}} {{row.wfContentContentTime.slice(0,5)}}</span>
                                        <span *ngIf="row.hasFinish" style="color:lightgrey;">{{row.wfContentContentDate}} {{row.wfContentContentTime.slice(0,5)}}</span>
                                        <span *ngIf="row.isCanceled" style="color:lightgrey;"><del>{{row.wfContentContentDate}} {{row.wfContentContentTime.slice(0,5)}}</del></span>   
                                    </template>
                                </p-column>
                                <p-column field="wfContentSecret" header="ชั้นค.ลับ" [sortable]="true" [filter]="true" filterMatchMode="equals" [style]="{'width':'90px', 'text-align':'center', 'vertical-align':'top'}">
                                    <template pTemplate="filter" let-col>
                                        <p-dropdown [options]="secret" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter" appendTo="body"></p-dropdown>
                                    </template>
                                    <template pTemplate="body" let-col let-row="rowData">
                                        <span *ngIf="!row.hasFinish && !row.isCanceled" [ngStyle]="cellColor_secret(row[col.field])">{{secretType[row[col.field]]}}</span>
                                        <span *ngIf="row.hasFinish" style="color:lightgrey;">{{secretType[row[col.field]]}}</span>
                                        <span *ngIf="row.isCanceled" style="color:lightgrey;"><del>{{secretType[row[col.field]]}}</del></span>
                                    </template>
                                </p-column>
                            </p-dataTable>
                        </md-card-content>
                    </md-card>

                    <div hide-gt-md>
                        <md-list>
                            <template let-item ngFor [ngForOf]="datas[searched]">
                                <md-list-item (click)="show(item)">
                                    <md-icon md-list-avatar [ngStyle]="gtmd_cellColor_speed(item.wfContentSpeed)">description</md-icon>
                                    <h2 md-line>เลขทะเบียน: {{item.wfContentContentNo}}</h2>
                                    <h2 md-line>เลขที่หนังสือ: {{item.wfContentBookNo}}</h2>
                                    <h3 md-line>เรื่อง: {{item.wfContentTitle}}</h3>
                                    <h4 md-line>จาก: {{item.wfContentFrom}}</h4>
                                    <p md-line>วันที่: {{item.wfContentContentDate}} {{item.wfContentContentTime.slice(0,5)}}</p>
                                </md-list-item>
                                <md-divider md-inset></md-divider>
                            </template>
                        </md-list>
                        <div style="text-align: center;">
                            <loadMore [listReturn]="listReturn[searched]" (load)=loadMoreContents()></loadMore>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </md-sidenav-layout>
</div>

<div hide show-gt-md [tdToggle]="!ModeSearch" layout="column" id="fixedbutton">
    <div class="menuList" [tdToggle]="!menuClick" *ngFor="let menu of menus">
        <button md-fab color="accent" [style.background]="menu.color" title="{{menu.name}}" (click)="menuAction(menu)"><md-icon>{{menu.icon}}</md-icon></button>
    </div>
    <button md-fab color="accent" title="รายการเมนู" (click)="menuClick=!menuClick">
            <md-icon *ngIf="!menuClick">menu</md-icon>
            <md-icon *ngIf="menuClick">keyboard_arrow_up</md-icon>
    </button>
</div>

<div [tdToggle]="ModeSearch" layout="column" id="fixedbutton">
    <button md-fab [style.background]="'#1976d2'" color="accent" title="ค้นหา" (click)="search(searchFilters); barcodeFilter = [];">
        <md-icon>search</md-icon>
    </button>
</div>


<p-growl [(value)]="msgs" [life]="3000"></p-growl>