.menuList {
    padding-bottom: 3px;
}

.sidenav {
    padding-top: 10px;
    padding-bottom: 100px; 
}
.searchFilter {
    width: 100%;
    margin-top: 0px;
}

.fixed-size {
    table-layout: fixed;
    word-wrap: break-word;
}
.button-disabled
    pointer-events: none;