<div layout="column" flex>
    <div style="background:#e0785f; color:#fff;" layout="row" flex>
        <button md-icon-button (click)="goBack()">
            <md-icon>arrow_back</md-icon>
        </button>
        <button md-icon-button disabled>
          <md-icon>supervisor_account</md-icon>
        </button>
        <div flex class="menu-showLabel">
            <span>กลุ่มส่วนตัว</span>
        </div>
        <button hide-gt-md md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>supervisor_account</md-icon>
        </button>
        <md-menu #menu="mdMenu" x-position="before">
            <button md-menu-item (click)="save()"> save </button>
            <button md-menu-item (click)="cancel()"> cancel </button>
        </md-menu>
    </div>
</div>

<div layout="row">
    <div flex>
        <!--<md-list-item *ngFor="let user of dataUser">-->

        <div class="setting-List">
            <md-icon md-list-avatar>supervisor_account</md-icon>
            <div class="fontSetting-List">โครงสร้างหน่วยงาน</div>
        </div>

        <div class="setting-List" style="margin-left: 20px;">
            <md-icon md-list-avatar>person_add</md-icon>
            <div class="fontSetting-List">Admin Department</div>
        </div>
        <div class="setting-List" style="margin-left: 20px;">
            <md-icon md-list-avatar>person_add</md-icon>
            <div class="fontSetting-List">หน่วยงาน</div>
        </div>
        <div class="setting-List" style="margin-left: 20px;">
            <md-icon md-list-avatar>person</md-icon>
            <div class="fontSetting-List">นายคมกริช วงษ์พิมเสน</div>
        </div>
        <div class="setting-List" style="margin-left: 20px;">
            <md-icon md-list-avatar>person</md-icon>
            <div class="fontSetting-List">นายปกรณ์ สาลี</div>
        </div>
        <div class="setting-List" style="margin-left: 20px;">
            <md-icon md-list-avatar>person</md-icon>
            <div class="fontSetting-List">นายณรงค์ เต็มศิรินุกูล</div>
        </div>
        <div class="setting-List" style="margin-left: 20px;">
            <md-icon md-list-avatar>person</md-icon>
            <div class="fontSetting-List">นางสาวมาลินี จรูญรัตนสกุล</div>
        </div>

    </div>
    <div flex>

        <div layout="row" layout-align="left start" style="width: 80%; margin-top: 20px; margin-left: 20px;">
            <md-input-container flex>

                <input md-input type="text" placeholder="ชื่อกลุ่ม" name='gropName'>
            </md-input-container>



        </div>
        <div>
            <textarea style="background-color:white;color:black; width: 80%; height: 20%; margin-top: 20px; margin-left: 20px; " rows="20" name='textarea'>                             
                  </textarea>

        </div>

    </div>
</div>