<div layout-gt-sm="row" layout="column">
    <div flex="100">
        <md-card>
            <md-card-title>
                <span class="md-headline">{{title}}</span>
            </md-card-title>
            <md-card-content>
                <form #addLevelForm="ngForm">
                    <div flex-gt-md="100">
                        <div layout="row">
                            <div flex="50" class="p-title p-title-input">
                                <label>รหัสพนักงาน :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{user.code}}</label>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="50" class="p-title p-title-input">
                                <label>คำนำหน้าชื่อ :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{user.prename}}</label>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="50" class="p-title p-title-input">
                                <label>ชื่อ :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{user.name}}</label>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="50" class="p-title p-title-input">
                                <label>สกุล :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{user.surname}}</label>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="50" class="p-title p-title-input">
                                <label>ชื่อตำแหน่งตามสายงาน :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{user.positionName}}</label>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="50" class="p-title p-title-input">
                                <label>ชื่อย่อตำแหน่งตามสายงาน :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{user.positionShortName}}</label>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="50" class="p-title p-title-input">
                                <label>ชื่อตำแหน่งบริหาร :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{user.managementName}}</label>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="50" class="p-title p-title-input">
                                <label>ชื่อย่อตำแหน่งบริหาร :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{user.managementShortName}}</label>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="50" class="p-title p-title-input">
                                <label>รหัสหน่วยงาน :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{user.depCode}}</label>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="50" class="p-title p-title-input">
                                <label>อีเมล์ :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{user.email}}</label>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="50" class="p-title p-title-input">
                                <label>ชื่อหน่วยงาน :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{user.depName}}</label>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="50" class="p-title p-title-input">
                                <label>ชื่อย่อหน่วยงาน :</label>
                            </div>
                            <div flex="50" class="p-title-input">
                                <label>{{user.depShortName}}</label>
                            </div>
                        </div>
                    </div>
                </form>
            </md-card-content>
            <md-divider></md-divider>
            <div layout="row" layout-align="center start" style="width: 100%;" [style.margin-top]="'15px'">
                <!--<button *ngIf="mode==='Add'" md-button [ngClass]="{'md-primary': addLevelForm.form.valid}" [disabled]="!addLevelForm.form.valid" (click)="saveLevel()">บันทึก</button>
                            <button *ngIf="mode==='Edit'" md-button [ngClass]="{'md-primary': addLevelForm.form.valid}" [disabled]="!addLevelForm.form.valid" (click)="updateLevel()">บันทึก</button>
                            <button *ngIf="mode==='Edit'" md-button [ngClass]="'md-warn'" (click)="deleteLevel()">ลบ</button>-->
                <!--<button md-button (click)="goBack()">ย้อนกลับ</button>-->
                <!--<button md-raised-button md-ripple [disabled]="isDisabled">ปิด</button>-->
                <button md-raised-button md-ripple (click)="dialogRef.close('yes')">ปิด</button>
            </div>
        </md-card>
    </div>
</div>