<div layout="column" flex>
    <div class="bgc-blue-700" [style.color]="'#fff'" layout="row" flex>
        <button md-icon-button (click)="goBack()" *ngIf="parentId>1">
            <md-icon>arrow_back</md-icon>
        </button>
        <button md-icon-button disabled>
            <md-icon>settings</md-icon>
        </button>
        <div flex class="menu-showLabel">
            <span>ส่วนงานผู้ดูแลระบบ</span>
        </div>
    </div>
</div>
<div layout="column" flex>
    <md-sidenav-layout layout="column" flex fullscreen style="">
        <div class="body-showCenter">
            <div layout-gt-md="row" layout-align-gt-md="center start" class="margin main-admin">
                <div flex-gt-md="70">
                    <md-list>
                        <template let-item let-last="last" ngFor [ngForOf]="modules">
                            <md-card style="margin-left: 0px; margin-right: 0px;">
                                <md-card-content>
                                    <td-expansion-panel label="{{item.name}}" sublabel="" expand="true">
                                        <td-expansion-summary>
                                            <md-list>
                                                <md-list-item>
                                                    <md-icon *ngIf="item.id == 3" md-list-avatar
                                                        svgIcon="assets:px-ic-wf"></md-icon>
                                                    <md-icon *ngIf="item.id != 3" md-list-avatar>{{item.iconModule}}
                                                    </md-icon>
                                                    <h3 md-line>{{item.name}}</h3>
                                                    <!-- <h4 md-line>Headquarters</h4>
                                                    <p md-line>{{item.moduleDetail}}</p> -->
                                                </md-list-item>
                                            </md-list>
                                        </td-expansion-summary>
                                        <form>
                                            <div class="setting-List" *ngFor="let child of item.child"
                                                (click)="selectdSetting(child)">
                                                <md-icon md-list-avatar>{{child.childIcon}}</md-icon>
                                                <div class="fontSetting-List">{{child.childName}}</div>
                                            </div>
                                        </form>
                                    </td-expansion-panel>

                                </md-card-content>
                            </md-card>

                        </template>
                    </md-list>
                </div>
            </div>
        </div>
    </md-sidenav-layout>
</div>
<p-growl [(value)]="msgs" [life]="3000"></p-growl>