md-sidenav-layout{
    position: absolute;
    margin-top: 40px;
}
.setting-List{
    cursor: pointer;
    padding: 10px 10px;
    display: -webkit-box;
    color: rgba(0, 0, 0, 0.54);
}
.setting-List:nth-child(even){
    background: #F1F1F1;
}
.setting-List:hover{
    color: #F1F1F1;
    background: #1976d2;
}
.fontSetting-List{
    padding-left: 10px;
    padding-top: 3px;
}
.main-admin{
    margin-bottom: 20px;
}
