<div layout="column" flex>
    <div class="bgc-blue-700" [style.color]="'#fff'" layout="row" flex>
        <button md-icon-button (click)="goBack()">
            <md-icon>arrow_back</md-icon>
        </button>
        <button md-icon-button disabled>
          <md-icon>{{iconHeader}}</md-icon>
        </button>
        <div flex class="menu-showLabel">
            <span>Lookup</span>
        </div>
        <button md-icon-button>
            <md-icon>more_vert</md-icon>
        </button>
    </div>
</div>
<div layout="column" flex>
    <md-card>
        <md-card-title>{{title}}</md-card-title>
        <md-divider></md-divider>
        <md-card-content>
            <form #addLookupForm="ngForm">
                <div layout="row" layout-margin>
                    <md-input-container flex>
                        <input md-input type="text" placeholder="ชื่อ Lookup" name="nameLookup" [(ngModel)]="lookup.name" [value]='lookup.name' />
                    </md-input-container>
                </div>
                <!--<div layout="row" layout-margin>
                        <md-input flex placeholder="ชื่อ Lookup" type="text" name="nameLookup" [(ngModel)]="lookup.name">
                    </md-input>
                </div>-->
            </form>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions>
            <button *ngIf="mode==='Add'" md-button [ngClass]="{'md-primary': addLookupForm.form.valid}" [disabled]="!addLookupForm.form.valid" (click)="save(lookup)">บันทึก</button>
            <button *ngIf="mode==='Edit'" md-button [ngClass]="{'md-primary': addLookupForm.form.valid}" [disabled]="!addLookupForm.form.valid" (click)="update(lookup)">บันทึก</button>
            <button *ngIf="mode==='Edit'" md-button [ngClass]="'md-warn'" (click)="delete(lookup)">ลบ</button>
            <button md-button (click)="cancel()">ยกเลิก</button>
        </md-card-actions>
    </md-card>
</div>