md-sidenav-layout{
    position: absolute;
    margin-top: 40px;
}
.folder-List{
    padding : 10px;
    cursor: pointer;
    display: -webkit-box;
}
.folder-List:nth-child(odd){
    background: aliceblue;
}
.folder-List:hover{
    color: #F1F1F1;
    background: #1976d2;
}
.fontFolder-List{
    padding-left: 10px;
    padding-top: 3px;
}
