/*:host/deep/.md-dialog-container
    padding: 0;*/
:host/deep/.ui-widget-header
    border: none;

:host/deep/.ui-state-active a
    font-weight: bold;

.fixed-size
    table-layout: fixed;
    word-wrap: break-word;

.listFile
    height: auto;
    background: lightgre
    
.listFile:hover
    cursor: pointer;
    background: #dcdfe2;

.expandList
    padding-top: 0px;
    padding-left: 50px;
    background: lightgrey;

:host/deep/md-list-item.md-3-line .md-list-item
    height: auto;

:host/deep/md-list-item.md-3-line .md-list-item:hover
    cursor: pointer;
    background: #dcdfe2;