/*:host/deep/.md-dialog-container
    padding: 0;*/
:host/deep/.ui-widget-header
    border: none;

:host/deep/.ui-state-active a
    font-weight: bold;

.fixed-size
    table-layout: fixed;
    word-wrap: break-word;