:host/deep/md-list-item.md-2-line .md-list-item {
    height: auto;
}

:host/deep/md-list-item.md-2-line .md-list-item:hover {
    cursor: pointer;
    color: #F1F1F1;
    background: #1976d2;
}

.block-icon-Option {
    /*cursor: pointer;*/
    /*color: #707070*/
    color: #F1F1F1;
}