.boxDialog
    padding: 20px
    overflow: auto
.bottomboxDialog
    padding: 10px
    display: flex
    justify-content: space-between
.headReport
    color: #fff
    padding: 20px
    font-size: inherit
    cursor: pointer
.checkbox
    font-size: smaller