<div layout="row" flex style=" background: #b74f36; padding: 12px; color: #FFF; font-size: large;">
    <span flex="95"> แจ้งเตือน</span>
    <md-icon md-list-avatar style="cursor: pointer;" (click)="close()">close</md-icon>
</div>
<div style="padding-top: 20px; padding-bottom: 20px;">
    <div layout="column" style="display: block; text-align:center;">
        <md-icon md-list-avatar style="color:red; font-size: xx-large">warning</md-icon>
        <div style="display: initial; vertical-align: super">{{message}}
        </div>
    </div>
</div>