<div style="padding:24px;">
    <div>
        <span class="headline">รายการส่งหนังสือ</span>
    </div>

    <div layout="column" layout-align="center start" style="width: 100%;">
        <p-dataTable [value]="datas" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" [resizableColumns]="false" [responsive]="true" styleClass="fixed-size">
            <p-column [style]="{'width':'30px', 'text-align':'center', 'vertical-align':'center'}">
                <template pTemplate="header" let-row="rowData">
                <md-checkbox color="primary" [(ngModel)]="allCheck" (change)="checkAll()"></md-checkbox>   
            </template>
                <template pTemplate="body" let-row="rowData">
                <!-- <md-checkbox [(ngModel)]="row.selected" (change)="select(row.selected)" [disabled]="row.stat!=0"></md-checkbox>  -->
                <md-checkbox color="primary" [(ngModel)]="row.selected" (change)="select(row.selected)" [disabled]="row.stat>1"></md-checkbox>   
            </template>
            </p-column>
            <p-column field="i" [sortable]="true" [style]="{'width':'25px', 'text-align':'center', 'vertical-align':'top'}">
            </p-column>
            <p-column field="name" header="ส่งถึง" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="กรอง" [style]="{'width':'30%', 'vertical-align':'top'}">
            </p-column>
            <p-column field="stat" header="สถานะ" [sortable]="true" [style]="{'width':'90px', 'vertical-align':'top'}">
                <template pTemplate="body" let-row="rowData.stat">   
                <span *ngIf="row == 0">ยังไม่เปิดอ่าน</span>
                <span *ngIf="row == 1">เปิดอ่านแล้ว</span>
                <span *ngIf="row == 2">ส่ง/ลงทะเบียนแล้ว</span>
                <span *ngIf="row == 3">ทำเรื่องเสร็จแล้ว</span>
            </template>
            </p-column>
            <p-column field="date" header="วันที่เปิดอ่าน" [sortable]="false" [style]="{'width':'90px', 'text-align':'center', 'vertical-align':'top'}">
            </p-column>
        </p-dataTable>
    </div>

    <div layout="row" layout-align="center start" style="width: 100%;" [style.margin-top]="'15px'">
        <button md-raised-button color="primary" (click)="ok()" [style.margin-right]="'5px'" [disabled]="numCheck==0">ยกเลิกการส่ง</button>
    </div>
</div>
