.tree-BlockExternal
    height : 410px
    overflow : auto
.selectDataTap
    position: absolute
    bottom: 0
    left: 0
    background: #fff
.selectLabel
    cursor: pointer
    border: 1px dotted 
    font-size: 12px
    padding-left:2px 
    padding-right: 2px 
    padding: 5px
    margin-bottom: 1px
    margin-right: 1px
    border-radius: 4px
.selectLabel:hover
    border: 1px solid 
    background: gainsboro
.hEg
    height : 50px
    overflow : auto
    margin-top: 2px
    margin-bottom: 2px
    margin-left: 2px
.searchCss
    height : 300px
    overflow : auto
.selected
    background: #005def !important
    color: #fff
.externalCss
    margin-top: 25px
    margin-left: 5px
    height : 430px
    overflow : auto