md-card-content{
    min-height:450px;
}
fieldset{
    /*border-radius: 10px;*/
    height:400px;
}
md-icon{
    float: right;
    min-width:0px;
    padding:0px;
    cursor:pointer;
}
table{
    width:100%
}
table.content-table tbody tr{
    height:0px;
}
table.content-table tbody tr td{
    padding:0px;
  vertical-align: middle;
}
tr.border_bottom td {
  border-bottom:1pt solid black;
}
