/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/core/theming/prebuilt/indigo-pink.css"

html, body
    background-image:-webkit-gradient(linear,left top,left bottom,from( #052e6d ),to( #fe8e14 ));
    background-image:-webkit-linear-gradient(#052e6d,#fe8e14);
    background-image: -moz-linear-gradient(#052e6d,#fe8e14);
    background-image: -ms-linear-gradient(#052e6d,#fe8e14);
    background-image: -o-linear-gradient(#052e6d,#fe8e14);
    background: linear-gradient(#fff 30%,#72c1ee)
.td-loading.td-overlay
    background: rgba(222,222,222, 0.7)
.menu-showLabel
    padding: 10px
    color: white
md-sidenav-layout
    position: absolute
    margin-top: 40px
.hover
    cursor: pointer
md-list a[md-list-item] .md-list-item
    background: #8fc2f5
#fixedbutton
    position: fixed
    bottom: 40px
    right: 50px
md-toolbar.md-primary
    padding-right: 0px
md-toolbar
    background: #082a5e
    color: white
.element
  animation: roll 3s infinite
  transform: rotate(30deg)
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

[md-fab].md-primary, [md-mini-fab].md-primary, [md-raised-button].md-primary
    background-color: #0d47a1 
[md-fab].md-accent, [md-mini-fab].md-accent, [md-raised-button].md-accent
    background-color: #FF9100 
[md-fab].md-warn, [md-mini-fab].md-warn, [md-raised-button].md-warn
    background-color: #f44336 

.td-circle
    color: azure
    background: #072533
.td-vertical-line
    width: 24px
    border-left-color: #072533
    z-index: 1
.td-line-wrapper
    width: 43px !important
md-slide-toggle.md-primary.md-checked:not(.md-disabled) .md-slide-toggle-thumb
    background-color: #00FF00 !important
.ui-widget-content 
  border: 1px solid #fff !important
  background: transparent
  color: rgba(0,0,0,.87)
  vertical-align: top !important
.ui-tree
  width: auto !important
img
    height: 100%

.md-dialog-container
    padding: 0;
/*
.md-checkbox-checked.md-primary .md-checkbox-background, .md-checkbox-indeterminate.md-primary .md-checkbox-background
    background-color: #b74f36;

.md-select
    color: #b74f36;
md-select:focus:not(.md-select-disabled) .md-select-trigger
    color: #b74f36;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #b74f36;
md-option.md-selected
    color: #b74f36;
md-select-arrow.md-selected
    color: #b74f36;

.md-input-placeholder.md-focused
    color: #b74f36;
.md-input-underline .md-input-ripple
    background-color: #b74f36;
md-progress-circle path, md-progress-spinner path, md-spinner path
    stroke: #b74f36;
*/


    
