<div flex style="   
background: #0454a5;
padding: 12px;
color: #FFF;
font-size: large;
width: 400px;">
    <span class="md-headline">{{title}}</span>
</div>
<div style="padding-top: 20px; padding-left:10px; padding-right:10px;">
    <form #form="ngForm">
        <md-input-container style="width: 100%;">
            <span md-prefix><md-icon>lock</md-icon></span>
            <div layout="row" *ngIf="!showPassword">
                <input md-input type="password" placeholder="รหัสผ่าน" name="password" [(ngModel)]="password" required>
                <md-icon class="icon" title="แสดงรหัสผ่าน" (click)="showPassword=true;">remove_red_eye</md-icon>
            </div>
            <div layout="row" *ngIf="showPassword">
                <input md-input type="text" placeholder="รหัสผ่าน" name="password" [(ngModel)]="password" required>
                <md-icon class="icon" title="ไม่แสดงรหัสผ่าน" (click)="showPassword=false;">visibility_off</md-icon>
            </div>
        </md-input-container>
    </form>
    <div layout="row" flex style="text-align: center; margin-top:2rem; margin-bottom:1rem;" layout-align="center">
        <button md-raised-button (click)="ok(user)" [ngClass]="{'md-primary': form.form.valid}" [disabled]="!form.form.valid"
            [style.margin-right]="'5px'">ตกลง</button>
        <button md-raised-button (click)="cancel()">ยกเลิก</button>
    </div>
</div>