<div layout="column" flex>
    <div class="bgc-blue-700" [style.color]="'#fff'" layout="row" flex>
        <button md-icon-button (click)="goBack()">
            <md-icon>arrow_back</md-icon>
        </button>
        <button md-icon-button disabled>
          <md-icon>{{iconHeader}}</md-icon>
        </button>
        <div flex class="menu-showLabel">
            <span>Lookup</span>
        </div>
        <button md-icon-button>
            <md-icon>more_vert</md-icon>
        </button>
    </div>
</div>
<div layout="column" flex>
    <md-card>
        <md-card-title>{{title}}</md-card-title>
        <md-divider></md-divider>
        <md-card-content>
            <!--<form #addLookupForm="ngForm">
                <div layout="row" layout-margin>
                    <md-select placeholder="ข้อมูลตัวเลือก" [(ngModel)]="Lookup" name="lookup" required>
                        <md-option *ngFor="let lookup of Lookups" [value]="lookup.id">
                            {{lookup.name}}
                        </md-option>
                    </md-select>
                </div>
            </form>-->
            <md-list>
                <template let-item let-last="last" ngFor [ngForOf]="Lookups">
                <md-list-item>
                  <!--<h3 md-line class="hover" (click)="selectLookup(item)" > {{item.folderName}} </h3>-->
                  <!--<md-checkbox (click)="selectLookup(item)" >-->
                  <!--</md-checkbox>-->
                  <p md-line> {{item.name}} </p>
                  <md-icon class="hover" md-list-avatar (click)="editLookup(item)" >edit</md-icon>                  
                </md-list-item>
                <md-divider *ngIf="!last" md-inset></md-divider>
              </template>
            </md-list>
        </md-card-content>
    </md-card>
</div>
<button id="fixedbutton" md-fab color="accent" title="add" (click)="addLookup()">
    <md-icon>add</md-icon>
</button>