:host/deep/.ui-widget-content {
    background: white;
}

:host/deep/.ui-dialog.ui-widget .ui-dialog-titlebar {
    background: #d2e3f4;
    padding-top: 0rem;
    padding-left: 0.5rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
}
:host/deep/.ui-dialog.ui-widget .ui-dialog-content {
    padding-top: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: auto;
    min-width: 200px;
    min-height: 100px;
    max-width: 600px;
    max-height: 300px;
}
