<div layout="column" flex>
    <div class="bgc-blue-700" [style.color]="'#fff'" layout="row">
        <button md-icon-button (click)="goBack()">
      <md-icon>arrow_back</md-icon>
    </button>
        <button md-icon-button disabled>
      <md-icon>thumbs_up_down</md-icon>
    </button>
        <div flex class="menu-showLabel">
            <span>ปรับปรุง (รายชื่อบุคลากร)</span>
        </div>
        <!-- <button md-icon-button>
      <md-icon>more_vert</md-icon>
    </button> -->
    </div>
</div>
<div layout="column" flex (click)="sideNavAlert($event)">
    <md-sidenav-layout layout="column" flex fullscreen>
        <md-sidenav #sideSubMenu align="end">
            <form layout-padding style="width: 100%;" layout="column" class="input-Login" #searchDms="ngForm" layout-align="center start">

                <md-select style="width: 100%; padding-top: 10px; padding-bottom: 10px;" placeholder="สถานะ" [(ngModel)]="searchMerge.vstatus" name="strucDetail">
                    <md-option *ngFor="let lkd of status" [value]="lkd.id">
                        {{lkd.name}}
                    </md-option>
                </md-select>
                <div layout="column" layout-align="left start" style="width: 100%; margin-bottom: 10px; ">
                    <md-input flex placeholder="รหัสพนักงาน" name="userCode" [(ngModel)]="searchMerge.userCode">
                    </md-input>
                </div>
                <div layout="column" layout-align="left start" style="width: 100%; margin-bottom: 10px; ">
                    <md-input flex placeholder="ชื่อ-นามสกุล" name="fullName" [(ngModel)]="searchMerge.fullName">
                    </md-input>
                </div>
                <div layout="column" layout-align="left start" style="width: 100%; margin-bottom: 10px; ">
                    <md-input flex placeholder="ตำแหน่ง" name="positionName" [(ngModel)]="searchMerge.positionName">
                    </md-input>
                </div>
                <div layout="column" layout-align="left start" style="width: 100%; margin-bottom: 10px; ">
                    <md-input flex placeholder="รหัสหน่วยงาน" name="structureCode" [(ngModel)]="searchMerge.structureCode">
                    </md-input>
                </div>
                <div layout="column" layout-align="left start" style="width: 100%; margin-bottom: 10px; ">
                    <md-input flex placeholder="ชื่อหน่วยงาน" name="structureName" [(ngModel)]="searchMerge.structureName">
                    </md-input>
                </div>
                <div layout="column" layout-align="left start" style="width: 100%; margin-bottom: 10px; ">
                    <md-input flex placeholder="ชื่อ(ย่อ)หน่วยงาน" name="strucShortName" [(ngModel)]="searchMerge.strucShortName">
                    </md-input>
                </div>
            </form>

        </md-sidenav>
        <div class="body-showCenter">
            <div layout-gt-md="row" layout-align-gt-md="center start" class="margin main-admin">
                <div flex-gt-md="70">
                    <md-list>
                        <md-card style="margin-left: 0px; margin-right: 0px;">
                            <md-card-content>


                                <p-dataTable #dt [value]="data" [rows]="20" [paginator]="true" [rowsPerPageOptions]="[10,20,50]" [resizableColumns]="false" styleClass="fixed-size" [responsive]="true" [(selection)]="selectedRow">
                                    <p-header>รายการปรับปรุงโครงสร้างหน่วยงาน</p-header>
                                    <p-column [style]="{'width':'20px'}" selectionMode="multiple"></p-column>
                                    <p-column field="status" header="สถานะ" [style]="{'width':'55px', 'text-align': 'center'}">
                                        <template pTemplate="body" let-row="rowData">
                                          <span *ngIf="row.status == 1" class="hover" (click)="selectRow(row)">เพิ่ม</span>
                                          <span *ngIf="row.status == 2" class="hover" (click)="selectRow(row)">ลบ</span>
                                          <!-- <span *ngIf="row.status == 3" class="hover" ></span><br>
                                          <span *ngIf="row.status == 4" class="hover" ></span><br>
                                          <span *ngIf="row.status == 5" class="hover" ></span><br> -->
                                          <span *ngIf="row.status == 3" class="hover" (click)="selectRow(row)">แก้ไข</span>
                                          <span *ngIf="row.status == 4" class="hover" (click)="selectRow(row)">ย้าย</span>
                                          <span *ngIf="row.status == 5" class="hover" (click)="selectRow(row)">ย้าย และ แก้ไข</span>
                                        </template>
                                    </p-column>
                                    <p-column field="userProfilecode" header="รหัสพนักงาน" [style]="{'width':'80px', 'text-align': 'center'}">
                                        <template pTemplate="body" let-row="rowData">
                                          <span *ngIf="row.status == 1" class="hover" (click)="selectRow(row)">{{row.vUserProfile?.code}}</span>
                                          <span *ngIf="row.status == 2" class="hover" (click)="selectRow(row)">{{row.userProfile?.code}}</span>
                                          <span *ngIf="row.status == 4" class="hover" (click)="selectRow(row)">{{row.userProfile?.code}}</span>
                                          <span *ngIf="row.status == 3" class="hover" (click)="selectRow(row)">Edoc --> HR <br>{{row.userProfile?.code}} --> {{row.vUserProfile?.code}}</span>
                                          <span *ngIf="row.status == 4" class="hover" (click)="selectRow(row)">Edoc --> HR <br>{{row.userProfile?.code}} --> {{row.vUserProfile?.code}}</span>
                                          <span *ngIf="row.status == 5" class="hover" (click)="selectRow(row)">Edoc --> HR <br>{{row.userProfile?.code}} --> {{row.vUserProfile?.code}}</span>
                                        </template>
                                    </p-column>
                                    <p-column field="userProfilename" header="ชื่อ-นามสกุล" [style]="{'width':'150px', 'text-align': 'left'}">
                                        <template pTemplate="body" let-row="rowData">
                                          <span *ngIf="row.status == 1" class="hover" (click)="selectRow(row)">{{row.vUserProfile?.title?.name}} {{row.vUserProfile?.fullName}}</span>
                                          <span *ngIf="row.status == 2" class="hover" (click)="selectRow(row)">{{row.userProfile?.title?.name}} {{row.userProfile?.fullName}}</span>
                                          <!-- <span *ngIf="row.status == 4" class="hover" (click)="selectRow(row)">{{row.userProfile?.title?.name}} {{row.userProfile?.fullName}}</span> -->
                                          
                                          <span *ngIf="row.status == 3" class="hover" (click)="selectRow(row)">Edoc --> HR <br>{{row.userProfile?.title?.name}} {{row.userProfile?.fullName}} --> {{row.vUserProfile?.title?.name}}
                                            {{row.vUserProfile?.fullName}}
                                          </span>
                                          <span *ngIf="row.status == 4" class="hover" (click)="selectRow(row)">Edoc --> HR <br>{{row.userProfile?.title?.name}} {{row.userProfile?.fullName}} --> {{row.vUserProfile?.title?.name}}
                                            {{row.vUserProfile?.fullName}}
                                          </span>
                                          <span *ngIf="row.status == 5" class="hover" (click)="selectRow(row)">Edoc --> HR <br>{{row.userProfile?.title?.name}} {{row.userProfile?.fullName}} --> {{row.vUserProfile?.title?.name}}
                                            {{row.vUserProfile?.fullName}}
                                          </span>
                                        </template>
                                    </p-column>
                                    <p-column field="userProfileshortName" header="ชื่อตำแหน่งตามสายงาน" [style]="{'width':'100px', 'text-align': 'left'}">
                                        <template pTemplate="body" let-row="rowData">
                                        <span *ngIf="row.status == 1" class="hover" (click)="selectRow(row)">{{row.vUserProfile?.position?.name}}</span>
                                        <span *ngIf="row.status == 2" class="hover" (click)="selectRow(row)">{{row.userProfile?.position?.name}}</span>
                                        
                                        <span *ngIf="row.status == 3" class="hover" (click)="selectRow(row)">Edoc --> HR <br>{{row.userProfile?.position?.name}} --> {{row.vUserProfile?.position?.name}}</span>
                                        <span *ngIf="row.status == 4" class="hover" (click)="selectRow(row)">Edoc --> HR <br>{{row.userProfile?.position?.name}} --> {{row.vUserProfile?.position?.name}}</span>
                                        <span *ngIf="row.status == 5" class="hover" (click)="selectRow(row)">Edoc --> HR <br>{{row.userProfile?.position?.name}} --> {{row.vUserProfile?.position?.name}}</span>
                                      </template>
                                    </p-column>
                                    <p-column field="userProfilecode" header="รหัสหน่วยงาน" [style]="{'width':'80px', 'text-align': 'left'}">
                                        <template pTemplate="body" let-row="rowData">
                                          <span *ngIf="row.status == 1" class="hover" (click)="selectRow(row)">{{row.vUserProfile?.structure?.code}}</span>
                                          <span *ngIf="row.status == 2" class="hover" (click)="selectRow(row)">{{row.userProfile?.structure?.code}}</span>
                                          
                                          <span *ngIf="row.status == 3" class="hover" (click)="selectRow(row)">Edoc --> HR <br>{{row.userProfile?.structure?.code}} --> {{row.vUserProfile?.structure?.code}}</span>
                                          <span *ngIf="row.status == 4" class="hover" (click)="selectRow(row)">Edoc --> HR <br>{{row.userProfile?.structure?.code}} --> {{row.vUserProfile?.structure?.code}}</span>
                                          <span *ngIf="row.status == 5" class="hover" (click)="selectRow(row)">Edoc --> HR <br>{{row.userProfile?.structure?.code}} --> {{row.vUserProfile?.structure?.code}}</span>
                                        </template>
                                    </p-column>
                                    <p-column field="userProfilecode" header="ชื่อหน่วยงาน" [style]="{'width':'230px', 'text-align': 'left'}">
                                        <template pTemplate="body" let-row="rowData">
                                          <span *ngIf="row.status == 1" class="hover" (click)="selectRow(row)">{{row.vUserProfile?.structure?.name}}</span>
                                          <span *ngIf="row.status == 2" class="hover" (click)="selectRow(row)">{{row.userProfile?.structure?.name}}</span>
                                          
                                          <span *ngIf="row.status == 3" class="hover" (click)="selectRow(row)">Edoc --> HR <br>{{row.userProfile?.structure?.name}} --> {{row.vUserProfile?.structure?.name}}</span>
                                          <span *ngIf="row.status == 4" class="hover" (click)="selectRow(row)">Edoc --> HR <br>{{row.userProfile?.structure?.name}} --> {{row.vUserProfile?.structure?.name}}</span>
                                          <span *ngIf="row.status == 5" class="hover" (click)="selectRow(row)">Edoc --> HR <br> {{row.userProfile?.structure?.name}} --> {{row.vUserProfile?.structure?.name}}</span>
                                        </template>
                                    </p-column>

                                </p-dataTable>

                                <md-card-actions layout="row" layout-align="center start" style="width: 100%;" [style.margin-top]="'15px '">
                                    <!-- <button md-raised-button color="primary" [style.margin-right]="'5px '" (click)="saveAll()">บันทึกทั้งหมด {{allRecord}} รายการ</button> -->
                                    <button md-raised-button color="primary" [style.margin-right]="'5px '" (click)="save()">บันทึกที่เลือก</button>
                                    <button md-raised-button color="warn" [style.margin-right]="'5px '" (click)="goBack()">ยกเลิก</button>
                                </md-card-actions>


                            </md-card-content>

                        </md-card>
                    </md-list>
                </div>
            </div>
        </div>
    </md-sidenav-layout>
</div>

<div [tdToggle]="!ModeSearch" layout="column" id="fixedbutton">
    <button md-fab title="ค้นหา" color="accent" (click)="sideSubMenu.open(); ModeSearch = false">
    <md-icon>search</md-icon>
  </button>
</div>

<div [tdToggle]="ModeSearch" layout="column" id="fixedbutton">
    <button md-fab [style.background]="'#1976d2'" title="ค้นหา" color="accent" (click)="searchdata(searchMerge);">
    <md-icon>search</md-icon>
  </button>
</div>

<p-growl [(value)]="msgs" [life]="3000"></p-growl>