<div layout="data" flex style="   
background: #0454a5;
padding: 12px;
color: #FFF;
margin-bottom: 10px;
font-size: large;">
    <span flex="99">ข้อมูลโครงสร้าง </span>
    <md-icon md-list-avatar style="cursor: pointer;" (click)="close()">close</md-icon>
</div>
<div>
    <div layout="column" flex>
        <div layout="row" class="userPadding" flex>
            <div layout="column" flex="40" align="end" style="padding-right: 10px; font-weight: bold;">
                สถานะ :
            </div>
            <div layout="column" align="left" flex>
                <span *ngIf="data.status == 1"> เพิ่ม </span>
                <span *ngIf="data.status == 2"> ลบ </span>
                <span *ngIf="data.status == 3"> แก้ไข </span>
            </div>
        </div>
        <div layout="row" class="userPadding" flex>
            <div layout="column" flex="40" align="end" style="padding-right: 10px; font-weight: bold;">
                รหัสหน่วยงาน :
            </div>
            <div layout="column" align="left" flex>
                <span *ngIf="data.status == 1">{{data.vStructure?.code}}</span>
                <span *ngIf="data.status == 2">{{data.structure?.code}}</span>
                <span *ngIf="data.status == 3">{{data.structure?.code}} --> {{data.vStructure?.code}}</span>
            </div>
        </div>
        <div layout="row" class="userPadding" flex>
            <div layout="column" flex="40" align="end" style="padding-right: 10px; font-weight: bold;">
                ชื่อหน่วยงาน :
            </div>
            <div layout="column" align="left" flex>
                <span *ngIf="data.status == 1">{{data.vStructure?.name}}</span>
                <span *ngIf="data.status == 2">{{data.structure?.name}}</span>
                <span *ngIf="data.status == 3">{{data.structure?.name}} --> {{data.vStructure?.name}}</span>
            </div>
        </div>
        <div layout="row" class="userPadding" flex>
            <div layout="column" flex="40" align="end" style="padding-right: 10px; font-weight: bold;">
                ชื่อ(ย่อ)หน่วยงาน :
            </div>
            <div layout="column" align="left" flex>
                <span *ngIf="data.status == 1">{{data.vStructure?.shortName}}</span>
                <span *ngIf="data.status == 2">{{data.structure?.shortName}}</span>
                <span *ngIf="data.status == 3">{{data.structure?.shortName}} --> {{data.vStructure?.shortName}}</span>
            </div>
        </div>
        <div layout="row" class="userPadding" flex>
            <div layout="column" flex="40" align="end" style="padding-right: 10px; font-weight: bold;">
                รายละเอียด :
            </div>
            <div layout="column" align="left" flex>
                <span *ngIf="data.status == 1">{{data.vStructure?.detail}}</span>
                <span *ngIf="data.status == 2">{{data.structure?.detail}}</span>
                <span *ngIf="data.status == 3">{{data.structure?.detail}} --> {{data.vStructure?.detail}}</span>
            </div>
        </div>


    </div>
</div>
<div layout="data" layout-align="end start" style="width: 100%; padding: 5px; background: #d4daec;" [style.margin-top]="'15px'">
    <button md-raised-button (click)="close() " color="primary" [style.margin-right]="'5px'">ปิด</button>
</div>