<div layout="column" flex>
    <div class="bgc-blue-700" [style.color]="'#fff'" layout="row" flex>
        <button md-icon-button (click)="goBack()">
            <md-icon>arrow_back</md-icon>
        </button>
        <button md-icon-button disabled>
            <md-icon>folder_shared</md-icon>
        </button>
        <div flex class="menu-showLabel">
            <span>กำหนดรูปแบบสิทธิ์แฟ้มทะเบียน</span>
        </div>
        <button hide-gt-md md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu" x-position="before">
            <button md-menu-item (click)="add()"> add </button>
        </md-menu>
    </div>
</div>

<div>
    <md-sidenav-layout flex fullscreen>
        <div *ngIf="!showAuth" class="body-showCenter">
            <div layout-gt-md="row" layout-align-gt-md="center start" class="margin main-admin">
                <div flex-gt-md="50">
                    <md-list *ngFor="let item of authTemplates; let i = index;">
                        <md-list-item (mouseover)="hoverEdit=item.id" (mouseleave)="hoverEdit=-1">
                            <md-icon md-list-avatar style="background: #e60000; color: white; cursor: pointer">
                                folder_shared</md-icon>
                            <h3 md-line>{{item.submoduleAuthTemplateName}}</h3>
                            <h4 md-line>แก้ไขล่าสุดวันที่ {{item.updatedDate}}</h4>
                            <p md-line>{{item.id}}</p>
                            <div *ngIf="hoverEdit==item.id" hide show-gt-md class="block-icon-Option">
                                <button md-icon-button title="แก้ไขสิทธิ์" (click)="edit(item)">
                                    <md-icon>edit</md-icon>
                                </button>
                                <button md-icon-button title="ลบ" (click)="delete(item)">
                                    <md-icon>delete</md-icon>
                                </button>
                            </div>
                        </md-list-item>
                        <md-divider md-inset></md-divider>
                    </md-list>
                </div>
            </div>
        </div>

        <div flex>
            <md-list *ngIf="showAuth">
                <md-list-item *ngFor="let auth of dataAuths; let i=index;">
                    <md-slide-toggle color="primary" [(ngModel)]="auth.auth" (change)="authEvent(i)">
                        {{auth.name}}
                    </md-slide-toggle>
                </md-list-item>
            </md-list>
        </div>
    </md-sidenav-layout>
</div>

<div layout="column" id="fixedbutton">
    <button md-fab [style.background]="'#00aaff'" color="accent" title="เพิ่มรูปแบบสิทธิ์" (click)="add()">
        <md-icon>local_hospital</md-icon>
    </button>
</div>

<p-growl [(value)]="msgs" [life]="3000"></p-growl>