/*single use only 3: class, stlye, inputstyle*/
.p-autocomplete {
    width: 100%;
}
/*multiple must add this = need 4*/
:host/deep/.ui-autocomplete-multiple-container.ui-inputtext {
    width: 100%;
}

:host/deep/.ui-dialog {
    box-shadow: 
        0 11px 15px -7px rgba(0,0,0,.2), 
        0 24px 38px 3px rgba(0,0,0,.14), 
        0 9px 46px 8px rgba(0,0,0,.12);
}

:host/deep/.ui-dialog.ui-widget .ui-dialog-titlebar {
    /*background: #d2e3f4;*/
    background: #8fc2f5;
    padding-top: 0rem;
    padding-left: 0.5rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    text-align: left;
    height: 40px;
}
:host/deep/.ui-dialog.ui-widget .ui-dialog-content {
    padding-top: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: auto;
    min-width: 200px;
    min-height: 100px;
    max-width: 600px;
    max-height: 300px;
}
:host/deep/.ui-contextmenu {
    position: fixed;
}

.fav:hover {
    background: #cfd4d6;
    cursor: pointer;
}

:host/deep/.md-tall .md-list-item {
    font-size: 14px;
    padding-left: 1rem;
}

.fixed-size {
    table-layout: fixed;
    word-wrap: break-word;
}
