<div flex style="   
background: #0454a5;
padding: 12px;
color: #FFF;
font-size: large;">
    <span class="md-headline">{{title}}</span>
</div>
<div style="padding-top: 20px; padding-left:10px; padding-right:10px;">
    <div layout="column">
        <md-input-container class="setWidth" style="display:flex;">
            <span md-prefix><md-icon>lock</md-icon></span>
            <input md-input #oldpassword type="password" placeholder="รหัสผ่านใหม่" class="" (blur)="addOption($event.target.value)" name="oldpassword" [(ngModel)]="user2.passwords" pattern="^(?=.*\d)(?=.*[A-Za-z])(?!.*\s).{8,12}$" required minlength="8" maxlength="24">
            <!-- <md-hint align="end">อย่างน้อย 8 ตัวอักษร {{oldpassword.value.length}} / 24</md-hint> -->
        </md-input-container>
        <md-input-container class="setWidth" style="display:flex;">
            <span md-prefix><md-icon>lock</md-icon></span>
            <input md-input #newpassword type="password" placeholder="ยืนยันรหัสผ่านใหม่" class="" (blur)="addOption2($event.target.value)" name="newpassword" [(ngModel)]="user.passwords" pattern="^(?=.*\d)(?=.*[A-Za-z])(?!.*\s).{8,12}$" required minlength="8" maxlength="24">
            <!-- <md-hint align="end">รหัสผ่านประกอบด้วย ตัวอักษร(อังกฤษ), ตัวเลข, และอักขระพิเศษ รวมอย่างน้อย 8 ตัวอักษร {{newpassword.value.length}} / 24</md-hint> -->
        </md-input-container>
    </div>
    <pre style="color:red">{{log}}</pre>
    <div layout="row" flex style="text-align: center; margin-top:2rem; margin-bottom:1rem;" layout-align="center">
        <button md-raised-button (click)="save(user)" [ngClass]="{'md-primary': user2.passwords.length!=0&&user.passwords.length!=0&&(user2.passwords==user.passwords)}" [disabled]="user2.passwords.length==0||user.passwords.length==0||(user2.passwords!==user.passwords)"
            [style.margin-right]="'5px'">ตกลง</button>
        <button md-raised-button (click)="cancel()">ยกเลิก</button>
    </div>
</div>