.setting-List{
    cursor: pointer;
    padding: 10px 10px;
    display: -webkit-box;
    color: rgba(0, 0, 0, 0.54);
}
.setting-List:nth-child(even){
    background: #F1F1F1;
}
.setting-List:hover{
    color: #F1F1F1;
    background: #1976d2;
}
.fontSetting-List{
    padding-left: 10px;
    padding-top: 3px;
}
.main-admin{
    margin-top: 10px;
    margin-bottom: 30px;
}
.icon-button{
    cursor: pointer;
    color: #707070;
    padding: 5px;
}
.icon-button:hover{
    border-radius: 4px 4px;
    background-color: #f5f5f5;
}
.block-icon-Option{
    display: inherit;
}
.displayShow{
    display: inherit;
}
.displayIconNone{
    display: none;
}
.headTitleField{
    width: 100%;
    padding: 10px 0px;
    font-size: 20px;
    border-bottom: 2px red solid;
    margin-bottom: 10px;
}
.addFieldTab{
    cursor: pointer;
    width: 100%;
    padding: 10px 0px;
    text-align: -webkit-center;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: gainsboro;
    border: 1px dotted gray;
}
.addFieldFont{
    vertical-align: super;
}
.fieldAddDataCss{
    display: flex;
    width: 100%;
    border: 1px dotted gray;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 5px;
}
.fieldAddDataCss:hover{
    display: flex;
    width: 100%;
    border: 1px dotted gray;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 10px 10px;
    background: ghostwhite;
}
.LabelClass{
    display: flex;
    width: 100%;
    vertical-align: middle;
    padding: 10px 0px;
}
.subTextField{
    width: 40%;
}
.radtioGroup{
    width: 100%;
}
.radtioGroup-List{
    padding-left: 20px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}
.FieldTypeClass{
    padding: 24px;
}